/**
* JoomBlog component for Joomla
* @version $Id: template.css 2011-03-16 17:30:15
* @package JoomBlog
* @subpackage template.css
* @author JoomPlace Team
* @Copyright Copyright (C) JoomPlace, www.joomplace.com
* @license GNU/GPL http://www.gnu.org/copyleft/gpl.html
*/

/* Common */
a:active,
a:focus {outline:0;}
hr {line-height:0;height:0;border:none;border-bottom:2px dotted #ccc;padding:0;margin:16px 0;clear:both;}
span#startOfPage {display:none;}



/* ----- LISTING VIEW STYLING ----- */

/* Disqus comments counter and anchor link */
a.jwDisqusListingCounterLink,
a.jwDisqusListingCounterLink:hover {background:url(../images/comment.png) no-repeat 0 50%;padding:20px;margin:0;}



/* ----- ARTICLE VIEW STYLING ----- */

/* Disqus comments counter and anchor link */
div.jwDisqusArticleCounter {padding:4px 8px;margin:4px 0;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;background:#f7fafe;text-align:right;}
a.jwDisqusArticleCounterLink,
a.jwDisqusArticleCounterLink:hover {float:right;background:url(../images/comment.png) no-repeat 0 50%;padding:0 0 0 20px;margin:0;}

/* Disqus comments form */
div.jwDisqusForm {clear:both;}
#disqus_thread {padding:8px;margin:8px 0;background:#F2F6FC;border:1px solid #ccc;}
a.dsq-brlink {display:block;margin:0;padding:0 8px 16px 8px;text-align:center;}

/* Back to top link */
div.jwDisqusBackToTop {text-align:right;}
div.jwDisqusBackToTop a,
div.jwDisqusBackToTop a:hover {float:right;text-decoration:underline;}

/* END */
