<?php
/**
* JoomBlog component for Joomla
* @version $Id: newblog.html 2011-03-16 17:30:15
* @package JoomBlog
* @subpackage write.html
* @author JoomPlace Team
* @Copyright Copyright (C) JoomPlace, www.joomplace.com
* @license GNU/GPL http://www.gnu.org/copyleft/gpl.html
*/
	JHtml::_('behavior.framework');
	$editor = JFactory::getEditor(); 

?>

	<script language="javascript" type="text/javascript">
		function sendForm(pressbutton) {
			var form = document.adminForm;
			var text = form.description.value;
			
			if ( form.title.value == "" ) {
				form.title.focus();
				alert("<?php echo JText::_( 'COM_JOOMBLOG_ALERT_BLOG_MUST_HAVE_A_TITLE', true ); ?>");
			}
			else {	Joomla.submitform(pressbutton, form);}
		}
	</script>
	
	<div class="jb-section"><?php echo JText::_('COM_JOOMBLOG_ADD_BLOG');?></div>

	    <form action="<?php echo Juri::root().'index.php?option=com_joomblog&task=newblog&Itemid='.jbGetItemId(); ?>" method="post" name="adminForm" id="adminForm" class="jb-admin-form">
                <div class="jb-buttons jb-buttons-top">
                    <button class="jb-btn jb-btn-primary" type="button" onclick="sendForm('savenewblog')" id="save"> 
                        <?php echo JText::_('COM_JOOMBLOG_ADD_BLOG');?>
                    </button>
                    <a href="<?php echo Juri::root().'index.php?option=com_joomblog&task=dashboard&Itemid='.jbGetItemId(); ?>" id="cancel" class="jb-cancel-link"><?php echo JText::_('COM_JOOMBLOG_FORM_CANCEL');?></a>
                </div>
                <div class="jb-formelm">
                    <input type="text" class="jb-inputbox" size="60" name="title" placeholder="<?php echo JText::_( 'COM_JOOMBLOG_FORM_TITLE' ); ?>"/>
                </div>
		
		<div class="jb-formelm">
		    <input id="jform_alias" placeholder="<?php echo JText::_('JFIELD_ALIAS_LABEL'); ?>" class="jb-inputbox" type="text" size="60" value="<?php echo $blogForm->getValue('alias');?>" name="jform[alias]">
                </div>
		
                <div class="jb-formelm">
                    <textarea id="text" name="description" rows="10" class="jb-textarea" placeholder="<?php echo JText::_( 'COM_JOOMBLOG_FORM_DESCRIPTION' ); ?>"></textarea>
                </div>


                <div class="jb-tabbable">
                    <ul class="jb-nav-tabs">
                        
                        <li>
                            <a href="#tab2" data-toggle="tab" class="jb-btn">
                                <span class="jb-caret jb-caret-down"></span><span class="jb-tab-item"><?php echo JText::_('COM_JOOMBLOG_PRIVACY'); ?></span>
                            </a>
                            <div class="jb-tab-pane">
                                <div>

                                    <div class="jb-formelm">
                                        <label for="jb-viewpostrules" class="jb-label">
                                            <?php echo JText::_( 'COM_JOOMBLOG_PRIVACY_POSTFORUSERS_LABEL' ); ?>:
                                        </label>
                                        <?php echo $blogForm->getInput('waccess'); ?>
                                    </div>
                                    <div class="jb-formelm">

                                        <label for="jb-viewcommrules" class="jb-label">
                                             <?php echo JText::_( 'COM_JOOMBLOG_PRIVACY_VIEWFORUSERS_LABEL' ); ?>:
                                        </label>
                                        <?php echo $blogForm->getInput('access'); ?>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#tab3" data-toggle="tab" class="jb-btn">
                                <span class="jb-caret jb-caret-down"></span><span class="jb-tab-item"><?php echo JText::_( 'COM_JOOMBLOG_FORM_META_PARAMETERS' ); ?></span>
                            </a> 
                            <div class="jb-tab-pane">
                                <div>

                                    <div class="jb-meta">
                                        <div class="jb-formelm">
                                            <label for="jb-metakey" class="jb-label">
                                                <?php echo JText::_( 'COM_JOOMBLOG_FORM_METAKEY' ); ?>:
                                            </label>
                                            <textarea id="jb-metakey" class="jb-textarea meta_key" name="metakey" rows="3"></textarea>
                                        </div>
                                        <div class="jb-formelm">
                                            <label for="jb-metadesc" class="jb-label">
                                                <?php echo JText::_( 'COM_JOOMBLOG_FORM_METADESC' ); ?>:
                                            </label>
                                            <textarea id="jb-metadesc" class="jb-textarea meta_description" name="metadesc" rows="3"></textarea>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>
                    </ul>   
                </div>
                
                <div class="jb-buttons  jb-buttons-bottom">
                    <button class="jb-btn jb-btn-primary" type="button" onclick="sendForm('savenewblog')" id="save"> 
                        <?php echo JText::_('COM_JOOMBLOG_ADD_BLOG');?>
                    </button>
                    <a href="<?php echo Juri::root().'index.php?option=com_joomblog&task=dashboard&Itemid='.jbGetItemId(); ?>" id="cancel" class="jb-cancel-link"><?php echo JText::_('COM_JOOMBLOG_FORM_CANCEL');?></a>
                </div>
		<input type="hidden" name="option" value="com_joomblog" />
		<input type="hidden" name="task" value="newblog" />
		<input type="hidden" name="Itemid" value="<?php echo jbGetItemId(); ?>" />
		<?php echo JHTML::_( 'form.token' ); ?>
            </form>
