/**
 * @version		4.6.1
 * @package		AllVideos (plugin)
 * @author    JoomlaWorks - http://www.joomlaworks.net
 * @copyright	Copyright (c) 2006 - 2014 JoomlaWorks Ltd. All rights reserved.
 * @license		GNU/GPL license:http://www.gnu.org/copyleft/gpl.html
 */

/* General */
.avPlayerWrapper div,
.avPlayerWrapper iframe,
.avPlayerWrapper object,
.avPlayerWrapper embed {outline:0;}

/* Responsive Layout */
.avPlayerWrapper {display:block;text-align:center;clear:both;}
.avPlayerWrapper .avPlayerContainer {display:block;padding:0;margin:0 auto;}

	/* Video container styling only */
	.avVideo .avPlayerContainer .avPlayerBlock {width:100%!important;position:relative!important;padding:0 0 56% 0!important;}
	.avVideo .avPlayerContainer .avPlayerBlock iframe,
	.avVideo .avPlayerContainer .avPlayerBlock object,
	.avVideo .avPlayerContainer .avPlayerBlock embed,
	.avVideo .avPlayerContainer .avPlayerBlock > div {position:absolute!important;top:0;left:0;min-width:320px!important;width:100%!important;height:100%!important;}
	/* SoundCloud container styling only */
	.avSoundCloudSet .avPlayerContainer .avPlayerBlock {width:100%!important;position:relative!important;padding:0 0 56% 0!important;}
	.avSoundCloudSet .avPlayerContainer .avPlayerBlock iframe,
	.avSoundCloudSet .avPlayerContainer .avPlayerBlock object,
	.avSoundCloudSet .avPlayerContainer .avPlayerBlock embed {position:absolute!important;top:0;left:0;min-width:320px!important;width:100%!important;height:100%!important;}

	.avSoundCloudSong .avPlayerContainer .avPlayerBlock {width:100%!important;padding:0!important;}
	.avSoundCloudSong .avPlayerContainer .avPlayerBlock iframe,
	.avSoundCloudSong .avPlayerContainer .avPlayerBlock object,
	.avSoundCloudSong .avPlayerContainer .avPlayerBlock embed {min-width:320px!important;width:100%!important;height:168px!important;}
	/* Audio container styling only */
	.avAudio .avPlayerContainer .avPlayerBlock {width:100%!important;padding:0!important;}
	.avAudio .avPlayerContainer .avPlayerBlock > div {min-width:320px!important;width:100%!important;height:24px!important;}

	.avPlayerWrapper .avPlayerContainer .avPlayerBlock > div {text-align:center!important;}
	.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink {text-align:center;padding:4px;font-size:11px;}
		.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink a {}
		.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink a:hover {}
			.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink a span {}
			.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink a:hover span {}
		.avPlayerWrapper .avPlayerContainer .avPlayerBlock .avDownloadLink span.hint {padding-left:4px;color:#999;font-style:italic;}
