/*JoomlaLMS. CSS Document */

#left_nav_collapser
{
	display:block;
	height:100%;
	background-color:#e1e1e1;
	text-align:center;
	margin-left:1px;
}
#left_nav_collapser:hover
{
	background-color:#e9e9e9;
}
#left_nav_collapser:hover img
{
	background-color:#fff;		
}

/*Agenda classes*/
.week_names {
	width:14%; 
	text-align:center; 
	height:15px;
	background:#C5C0C0; 
	border-left:1px solid #B3B3B3;
	border-top:1px solid #B3B3B3;
}
td.month_header{
	text-align:center;
	font-weight:bold;
	height:18px;
	background:#B8B9B9;
	color:#FFFFFF;
	border-top:1px solid #929393;
}
.title_agenda{
	background:#D4D5D5;
	vertical-align:top;
	
}
div.joomlalms_sys_message {
	display: block;
	background: #ffd;
	padding: 10px;
	margin-bottom: 7px;
	margin-top: 4px;
	color: #333;
	border: 1px solid #ddb;
	font-weight:bold;
	text-align:center;
}
div.joomlalms_page_tip {
	display: block;
	background: #ffd;
	padding: 10px;
	margin-bottom: 7px;
	margin-top: 4px;
	color: #333;
	border: 1px solid #eea;
	font-weight:bold;
	text-align:center;
}
div.joomlalms_user_message {
	display: block;
	background: #ffd;
	padding: 10px;
	margin-bottom: 7px;
	margin-top: 4px;
	color: #333;
	border: 1px solid #efefef;
	font-weight:bold;
	text-align:center;
}
#jlms_mainarea div.joomlalms_user_message {
	text-align:center;
}
div.jlms_lpath_completion_message {
	display: block;
	background: #ffd;
	padding: 10px;
	margin-bottom: 7px;
	margin-top: 4px;
	color: #333;
	border: 1px solid #ddb;
	font-weight:bold;
	text-align:center;
}
div.jlms_controls_footer {
	display: block;
	/*fix Readmore (Max)*/	
	/*float: left;
	width: 100%;*/
	/*fix Readmore (Max)*/	
	
	background:transparent url(../lms_images/bg_footer.png) repeat-x scroll 0%;
	border-color:#DDDDDD rgb(221, 221, 221);
	border:1px solid #CCCCCC;
	vertical-align:middle;
	color:#666666;
	text-align:left;
	margin-top: 4px;
	margin-bottom: 4px;
}
div.jlms_controls_footer table {
	border-spacing: 2px;
}
div.jlms_controls_footer table td {
	padding: 2px;
}
table.lms_pro_menu td {
	padding-left: 2px;
}
span#JLMS_toolbar_tooltip {
	color: #000000;
	white-space: nowrap;
}
div.jlms_footer_link {
	margin-top: 6px;
	margin-right:10px;
	float:right;
	vertical-align:middle;
}
div.jlms_footer_link a {
	text-decoration:underline;
	font-size:12px;
}
div.jlms_footer_link a:hover {
	text-decoration:underline;
}
/* Informational footer block */
div.joomlalms_info_legend {
	display: block;
	background: #ffd;
	padding: 6px;
	margin-bottom: 4px;
	margin-top: 8px;
	color: #333;
	border: 1px solid #ebebeb;
	font-weight:normal;
	text-align:left;
}
div.jlms_plugin {
	display: block;
	background: #ffd;
	padding: 10px;
	color: #333;
	border: 1px solid #ddb;
	font-weight:bold;
	text-align:center;
}

div.topicmaindiv {
	border:1px solid #EEEEEE;
	margin-bottom:5px;
	margin-top:5px;
	padding:3px;
}

div.topicmaindiv2 {
	border:1px solid #CCCCCC;
	margin-bottom:5px;
	margin-top:5px;
	padding:3px;
}
td.controltd {
	width: 16px;
}
div.tablefixer1 {
	width: 5px;
}

div.tablefixer2 {
	width: 21px;
}

div.tablefixer3 {
	width: 312px;
}

div.tablefixer4 {
	width: 64px;
}

div.tablefixer5 {
	width: 120px;
}

div.tablefixer6 {
	width: 160px;
}

/*lms quizz*/
#quest_div_hs, 
#quest_div{
	position: relative;
}

#jq_quiz_container1 #quest_div div{
	text-align: center;
}

#cont div.jq_drop {
	float: right;
	margin: 0px;
	width: 250px;
	height:30px;
	overflow: hidden;
	/*clear: both;*/
	
	text-align: center;
	vertical-align:middle;
	border:1px solid #000000;
	background-color: #dddddd;
}

#cont div.jq_drag{
	position: relative;
	top: 0;
	left: 0;
	float: left;
	margin: 0px;
	width: 250px;
	height:30px;
	cursor: default;
	z-index: 1;
	overflow: hidden;
	/*clear: both;*/
	
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000000;
	background-color: #ffffff;
}

#quest_div div.jq_drop_pre {
	float: right;
	margin: 0px;
	width: 250px;
	height:30px;
	overflow: hidden;
	clear: both;
	
	text-align:center;
	vertical-align:middle;
	border:1px solid #000000;
	background-color: #dddddd;
}

#quest_div div.jq_drag_pre {
	float: left;
	margin: 0px;
	width: 250px;
	height:30px;
	overflow: hidden;
	clear: both;
	
	text-align:center;
	vertical-align:middle;
	border:1px solid #000000;
	background-color: #ffffff;
}

#cont div.jq_drag:hover{
	cursor: pointer;
}

.d_cont{
	position:relative;
	/*float:left;*/
	width:auto;
	text-align:center;
	margin: 0px auto;
}

	/*progressbar*/
	.progressbar_bg_middle {
	background-image: url(../lms_images/quiz/bg_middle.gif);
	background-repeat: repeat-x;
	overflow:hidden;
	}
	.progressbar_bg_right {
		background-image: url(../lms_images/quiz/bg_right.gif);
		background-repeat: no-repeat;
		background-position: right;
	}
	.progressbar_bg_left {
		background-image: url(../lms_images/quiz/bg_left.gif);
		background-repeat: no-repeat;
		background-position: left;
		padding: 1px;
		text-align: left;
	}
	.progressbar_fg {
		width: 0%;
		background-image: url(../lms_images/quiz/fg_middle.gif);
		background-repeat: repeat-x;
		overflow:hidden;
	}
	.progressbar_fg_right {
		background-image: url(../lms_images/quiz/fg_right.gif);
		background-repeat: no-repeat;
		background-position: right;
	}
	.progressbar_fg_left {
		background-image: url(../lms_images/quiz/fg_left.gif);
		background-repeat: no-repeat;
		background-position: left;
		height: 14px;
	}
	.progressbar_highlight{
		background-image: url(../lms_images/quiz/highlight.png);
		margin-left:-120px;
		height: 14px;
		width:120px;
	}
	.progressbar_highlight_ind{
		background-image: url(../lms_images/quiz/ind-highlight.png);
		margin-left:-120px;
		height: 14px;
		width:120px;
	}
	/*progressbar*/

.jq_msg_alert_0{
	background-color: #ff9999;
	background-image: url(../lms_images/quiz/incorrect.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: solid 1px #990000;
	width: 70%;
	margin: 0px auto;
	padding: 15px 0px;
	color: #990000;
	font: Verdana, Georgia, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.jq_msg_alert_1{
	background-color: #e6f8dd;
	background-image: url(../lms_images/quiz/correct.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: solid 1px #119911;
	width: 70%;
	margin: 0px auto;
	padding: 15px 0px;
	color: #119911;
	font: Verdana, Georgia, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.jq_msg_alert_2{
	background-color: #ffff99;
	background-image: url(../lms_images/quiz/time-up.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: solid 1px #ff9900;
	width: 70%;
	margin: 0px auto;
	padding: 15px 0px;
	color: #ff9900;
	font: Verdana, Georgia, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.jq_msg_alert_3{
	background-color: #a9dcfe;
	background-image: url(../lms_images/quiz/explanation.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: solid 1px #43b3fe;
	width: 70%;
	margin: 0px auto;
	padding: 15px 0px;
	color: #43b3fe;
	font: Verdana, Georgia, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/** ToolTips Mootools 1.0.6 only **/
.jlms_tool-tip {
	color: #fff;
	width: 250px;
	z-index: 13000;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}

.jlms_tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(../lms_images/tips.png) top left;
}

.jlms_tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(../lms_images/tips.png) bottom right;
}
/*.jlms_tool-tip div div.jlms_tool-text {*/
.jlms_tool-tip div div.jlms_tool-text table td {
	color: #fff;
}
.jlms_tool-helper {
	font-size: 11px;
	color: #aaa;
	text-align:right;
	vertical-align: top;
}

.jlms_tool-footnote{
	font-size: 9px;
	color: #ccc;
}
/** END ToolTips Mootools 1.0.6 only **/

/** ToolTips Mootools 1.3 only **/
.jlms_tool{
	float:  left;
	width: 250px;
	/*visibility: hidden;*/ /*fix for !J2.5*/
}

.jlms_tool,.jlms_tool.tool-tip{
	color: #fff;
	width: 250px;
	z-index: 13000;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	background: none;
}

.jlms_tool .tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(../lms_images/tips.png) top left;	
	text-align:  left;
}

.jlms_tool-tip .tip-title-inner, .jlms_tool .tip-title-inner  {
	font-weight: bold;
	font-size: 11px;
	color: #9FD4FF;
}

.jlms_tool .tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(../lms_images/tips.png) bottom right;
	text-align:  left;
	color: #ffffff;	
}
/*.jlms_tool-tip div div.jlms_tool-text {*/

.jlms_tool table td {
	color: #fff;
	border: 0px none;
}

.jlms_tool table tr{	
	border: 0px none;
}

/*
.jlms_tool .helper {
	font-size: 11px;
	color: #aaa;
	text-align:right;
	vertical-align: top;
}

.jlms_tool .footnote{
	font-size: 9px;
	color: #ccc;
}
*/

/** END ToolTips Mootools 1.3 only **/


/** overlib - Joomla 1.5 only **/
.ol-foreground {
	background-color: #CBCBCB;
}
.ol-background {
	background-color: #3C79CD;
}
.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.ol-captionfont a {
	color: #0B55C4;
	text-decoration: none;
	font-size: 12px;
}
.ol-closefont {}
/** end of Overlib section **/

/* JS Courses menu */
table.jlms_top_menu_items_table#jlms_top_menu_items_table_id tr {
	cursor:pointer;
	background-color:#EEEEEE;
}
table.jlms_top_menu_items_table#jlms_top_menu_items_table_id td {
	border-left:1px solid #666666;
	border-right:1px solid #666666
}
table.jlms_top_menu_items_table#jlms_top_menu_items_table_id td div {
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	width:218px;
}
/* end of Courses menu */

/*Notices*/
div.notes_head{
	text-align: right !important;
	/*background: url('../lms_images/toolbar/btn_notice.png') 0% 0px no-repeat;*/
}

div.notes_foot{
	text-align: left !important;
}

.dynamic-tab-pane-control .tab-row .tab span {
	margin: 0;
}

/*
SCORM iframe fixes
SCORM player use 'main' class declaration - this keyword is widely used and can be redefined in custom template CSS.
Here is a style declaration with bigger weight (element + classname) to avoid this situation */
iframe#main {
	position: static;
	float: none;
	left: auto;
	top: auto;
	width: 100%;
}

/*Course Blog*/
.course_info{
	position: relative;
}

#whitebox div.course_sh_dsc,
.course_sh_ds{
	text-align: justify;
}

/*Joomla CSS for JLMS*/
.message{
	text-align: center;
	color: #ff0000;
}

/*Readmore CSS*/
#jlms_mainarea div.topics{
	display: block;
}

#jlms_mainarea div.topic_description{
	width: auto;
}

#jlms_mainarea div.clr{
	clear: both;
}
#jlms_mainarea div.toogle_readmore{
	display: block;
	width: 1%;
	white-space: nowrap;
}
#jlms_mainarea div.toogle_readmore a.readon{
	display: inline;
	float: none;
}
#jlms_mainarea div.topic_readmore,
#jq_quiz_container1 div.topic_readmore
{
	padding: 5px;
	display: none;
}
/*Readmore CSS*/

/*Default ProgressBar CSS*/
#jlms_mainarea div.progress{
	position: relative;
	width: 50px;
	height: 5px;
	overflow: hidden;
	padding: 2px;

	border: 1px solid #aaaaaa;
}
#jlms_mainarea div.progress div.bar{
	left: 0px;
	top: 0px;
	float: left;
	width: 0%;
	height: 5px;
	margin: auto;
	
	background: #cccccc;
}
#jlms_mainarea div.progress div.bar_text{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 1;
	
	line-height: 10px;
	font-size: 9px;
	text-align: center;
}
/*Default ProgressBar CSS*/

/*LPath ProgressBar CSS*/
#joomlalms_usergradebook div.progress_lpath,
#jlms_mainarea div.progress_lpath{
	position: relative;
	width: 70px;
	height: 10px;
	overflow: hidden;
	padding: 2px;
	
}
#joomlalms_usergradebook div.incompleted,
#jlms_mainarea div.incompleted{
	border: 1px solid #aaaaaa;
}
#joomlalms_usergradebook div.completed,
#jlms_mainarea div.completed{
	border: 1px solid #00cc00;
}
#joomlalms_usergradebook div.progress_lpath div.bar,
#jlms_mainarea div.progress_lpath div.bar{
	left: 0px;
	top: 0px;
	float: left;
	width: 0%;
	height: 10px;
	
	margin: auto;
}

#joomlalms_usergradebook div.progress_lpath div.no_show,
#jlms_mainarea div.progress_lpath div.no_show{
	visibility: hidden;
}

#joomlalms_usergradebook div.incompleted div.bar,
#jlms_mainarea div.incompleted div.bar{
	background: #cccccc;
}
#joomlalms_usergradebook div.completed div.bar,
#jlms_mainarea div.completed div.bar{
	background: #00ff00;
}
#joomlalms_usergradebook div.progress_lpath div.bar_text,
#jlms_mainarea div.progress_lpath div.bar_text{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 1;
	
	line-height: 14px;
	font-size: 11px;
	text-align: center;
	color: #0000cc;
}
/*LPath ProgressBar CSS*/

/*JComments CSS edit*/
div.jcomments-links{
	float: right;
	margin-bottom: 5px;
}
/*JComments CSS edit*/


/* Joomla 1.6 CSS fixes */
.jlms_table_no_borders > tbody > tr, .jlms_table_no_borders > tbody > tr > td,
#jlms_mainarea > tbody > tr, #jlms_mainarea > tbody > tr > td,
#joomlalms_usergradebook > tbody > tr, #joomlalms_usergradebook > tbody > tr > td,
#jlms_header_table > tbody > tr, #jlms_header_table > tbody > tr > td,
.jlms_controls_footer table tr, .jlms_controls_footer table td,
table.jlms_toolbar_buttons > tbody > tr, table.jlms_toolbar_buttons > tbody > tr > td,
#jlms_course_properties > tbody > tr, #jlms_course_properties > tbody > tr > td,
#jlms_item_properties > tbody > tr, #jlms_item_properties > tbody > tr > td,/*edit 'link', 'doc', 'lpath', 'scorm' etc. */
.jlms_item_properties > tbody > tr, .jlms_item_properties > tbody > tr > td,/*edit 'link', 'doc', 'lpath', 'scorm' etc. */
#jlms_courses_guest > tbody > tr, #jlms_courses_guest > tbody > tr > td,
#jlms_course_desc_guest > tbody > tr, #jlms_course_desc_guest > tbody > tr > td,
.jlms_course_properties_cats > tbody > tr, .jlms_course_properties_cats > tbody > tr > td,
.jlms_subscriptions_list_outer > tbody > tr, .jlms_subscriptions_list_outer > tbody > tr > td,
.jlms_cart_list_outer > tbody > tr, .jlms_cart_list_outer > tbody > tr > td,
.jlms_date_outer > tbody > tr, .jlms_date_outer > tbody > tr > td,
.jlms_top_menu_outer > tbody > tr, .jlms_top_menu_outer > tbody > tr > td,
.jlms_top_menu_tooltips > tbody > tr, .jlms_top_menu_tooltips > tbody > tr > td,
.jlms_homepage_list > tbody > tr, .jlms_homepage_list > tbody > tr > td, /* for homepage modules lists */
.jlms_homepage_modules > tbody > tr, .jlms_homepage_modules > tbody > tr > td, /* for homepage modules container */
.jlms_properties_table > tbody > tr, .jlms_properties_table > tbody > tr > td, /* for 'edit' pages */
.jlms_coursebox_cont > tbody > tr, .jlms_coursebox_cont > tbody > tr > td, /* for 'courses selectbox' container */
.jlms_coursebox > tbody > tr, .jlms_coursebox > tbody > tr > td,
#jlms_mainarea,
#jlms_header_table,
table.jlms_top_menu_tooltips,
table.jlms_top_menu_outer,
table.jlms_coursebox_cont,
table.jlms_coursebox,
div.jlms_controls_footer > table,
table.jlms_toolbar_buttons,
table.jlms_item_properties,
#jlms_item_properties,
table.jlms_table_no_borders
{
	border: none;	
}

.jlms_toolbar_buttons td a{
	white-space: nowrap;
}



a.jlms_img_link, a.jlms_menu_control {
	background: none !important;
	cursor: pointer;
}

#jlms_mainarea table.jlmslist {
	width:100%;
	margin-right:0;
}

div.jlms_quiz_status_as{
	float: left;
	position: relative;
}

div.jlms_quiz_status_as_noflt{
	position: relative;
	margin: 0 auto;
}

div.jlms_quiz_status_as .points{
	float: left;
	position: relative;
	min-width: 40%;
	width: auto;
	text-align: center;
	white-space: nowrap;
	margin-right: 5px;
}

div.jlms_quiz_status_as .icon{
	float: left;
	position: relative;
	min-width: 15%;
	width: auto;
	text-align: center;
	margin-right: 5px;
}

div.jlms_quiz_status_as .points_noflt{
	position: relative;
	min-width: 40%;
	width: auto;
	text-align: center;
	white-space: nowrap;
}

div.jlms_quiz_status_as .icon_noflt{
	position: relative;
	min-width: 15%;
	width: auto;
	text-align: center;
}


table.qpadding td{
	padding: 5px;
}

.step_description{
	display: block;
	padding: 10px;
}

.input-year {
	width: 70px;
}

.input-month {
	width: 140px;
}

.input-day, .input-hour, .input-min  {
	width: 60px;
}

#jlms_mainarea .chzn-container .chzn-results li,
#jlms_mainarea .chzn-container-single .chzn-single span { 
	text-align: left;
}

.JLMS_png {
	max-width: none !important;
}

.input-order {
	margin: 0px !important;
	padding: 0px !important;
}

/*for calendar padding and border fix*/
.calendar tbody td.selected, .calendar tbody td.hilite, .calendar thead .hilite {
    border: none !important;
    padding:0 !important;
}

/* fix for calendar inputbox width*/
#pick_date.inputbox, #at1_date.inputbox, #at_date.inputbox{
    width: 80px;
}

/*Fixes for J3*/
.jlms30_course_properties_edit .course_name
{
	width:252px !important;
}

.jlms_date_picker_check,
.jlms30_course_user_add_access_period .jlms_date_picker_check
{
	margin-right: 5px!important;
    margin-top: -6px!important;
}

.jlms30_course_properties_edit .jlms_date_outer span img,
.jlms30_course_user_add_access_period .jlms_date_outer span img 
{
	margin-left: 2px !important;
	margin-top: -6px !important;
}

.jlms30_course_properties_edit  .jlms_published_list
{
	width:252px !important;
}

.jlms-input-midle
{
	width:110px !important;
}

.jlms30_course_user_add_filter input[type="text"] 
{
	margin: 0px;
}

.jlms30_course_user_add_access_period  input[type="checkbox"] 
{
	margin: 0px;
}

.jlms30_course_user_add_access_period  label
{
	display:inline-block !important;
	cursor:pointer;
}

.jlms30_cal_btn {
	margin-left: 5px  !important; 
	padding: 3px 8px  !important; 
	vertical-align: top  !important;
}

.jlms_cal_btn{
	vertical-align:middle;
}

.jlms30_cal_hidden_input {	
	width: 10px  !important; 	
	vertical-align: top  !important;
	margin-bottom: 3px  !important;
}

#jlms_mainarea-1 label,
#jlms_mainarea label
{
	display: inline !important;
}

.simple_calendar_field
{
width:67px;
margin:4px;
}
/**/

#jlms_mainarea #certificate_custom_msgs .inputbox
{
	width: auto;
}
