.body-overlayed embed, .body-overlayed object, .body-overlayed select
{
	visibility:				hidden;
}

#sbox-window embed, #sbox-window object, #sbox-window select
{
	visibility:				visible;
}

#sbox-overlay
{
	position:				absolute;
	background-color:		#000;
	top: 0;
	left: 0;
}

#sbox-window
{
	position:				absolute;
	background-color:		#000;
	text-align:				left;
	overflow:				visible;
	padding:				10px;
	-moz-border-radius:		3px;
}

* html #sbox-window
{
	top: 50% !important;
	left: 50% !important;
}

#sbox-btn
{
	clear:					both;
	overflow:				auto;
	width:					100%;
	height:					auto;
	margin-top:				12px;
	padding:				0px 1px;
}

#sbox-btn-close
{
	position:				absolute;
	width:					30px;
	height:					30px;
	right:					-15px;
	top:					-15px;
	background:				url(../lms_images/sbox_modal/sbox_close.png) no-repeat top left;
	border:					none;
}

#sbox-btn-prev
{
	float:					left;
	width:					30px;
	height:					30px;
	background:				url(../lms_images/sbox_modal/sbox_left.gif) no-repeat top left;
	border:					none;
	cursor:					pointer;
	position: 				relative;
}

#sbox-btn-next
{
	float:					right;
	width:					30px;
	height:					30px;
	background:				url(../lms_images/sbox_modal/sbox_right.gif) no-repeat top left;
	border:					none;
	cursor:					pointer;
	position: 				relative;
}

.sbox-loading #sbox-content
{
	background-repeat:		no-repeat;
	background-position:	center;
}

#sbox-content
{
	clear:					both;
	overflow:				auto;
	background-color:		#fff;
	height:					100%;
	width:					100%;
}

/*
(Max)
*/
#sbox-title
{
	/*clear:					both;*/
	overflow:				auto;
	width:					100%;
	margin-top:				-30px;
	text-align:				center;
}
#sbox-title table {
	margin: auto;
}

#sbox-title tr{
	border: 0 none !important;
}

div #sbox-title div{
	color:					#FFFFFF;
	font-family:			Arial;
	font-size:				12px;
	font-size-adjust:		none;
	font-stretch:			normal;
	font-style:				normal;
	font-variant:			normal;
	font-weight:			bold;
	line-height:			normal;
	padding-bottom:			5px;
}


#sbox-title-left{
	background:				transparent url(../lms_images/sbox_modal/sbox_title_left.png) 100% 0 no-repeat;
	height:					32px;
	width:					15px;
	border:					none;
}

#sbox-title-main{
	background:				transparent url(../lms_images/sbox_modal/sbox_title_main.png) repeat-x;
	height:					32px;
	text-align:				center;
	border:					none;
}

#sbox-title-right{
	background:				transparent url(../lms_images/sbox_modal/sbox_title_right.png) 0 0 no-repeat;
	height:					32px;
	width:					15px;
	border:					none;
}


.sbox-content-image#sbox-content
{
	overflow:				visible;
}

#sbox-image
{
	display:				block;
}

.sbox-content-image img
{
	display:				block;
}

.sbox-content-iframe#sbox-content
{
	overflow:				visible;
}

.modal{
	position: relative;
	/*display: block;*/
	width: auto;
}
.scorm_modal{
	position: relative;
	/*display: block;*/
	width: auto;
}

.zoom_text{
	border: 0 none;
	vertical-align: middle;
}

.zoom_img{
	border: 0 none;
	vertical-align: middle;
	position: absolute;
	bottom: 2px;
	right: 2px;
}