/*------------------------------------*\
    $sidebar.less
\*------------------------------------*/
.sidebar { //left side
	display: table-cell;
	min-height: 100%;
	position: relative;
	padding: 0 0 40px;
	z-index: 3;
	border-right: 1px solid @esBorder;
	// background: @sideBackground;
	width: 220px;
	vertical-align: top;
	// background: url(../images/nav-bg2.png) repeat;
}

.side-widget-rounded{

	margin-top: 20px;
	padding: 8px;

	hr {
		margin: 8px 0;
	}

	.side-wbody {
		border-radius: 5px;
		padding: 10px 20px;
		background: #fff;
		border: 1px solid #C5CFD6;
		.form-search {
			margin: 0;
			line-height: 0;
		}
	}
}

.side-widget {
	margin-top: 20px;

	.side-whead {
		border-top: 1px solid #C5CFD6;
		border-bottom: 1px solid #C5CFD6;
		#gradient > .vertical(#edf0f5, @sideBackground);
		display: block;
		height: 30px;
		line-height: 28px;
		padding: 2px 30px 5px 20px;
		color: #626f82;
		font-weight: bold;
	}
	.side-wbody {
		padding: 10px 20px;
		background: #fff;
		border-bottom: 1px solid #C5CFD6;
		.form-search {
			margin: 0;
			line-height: 0;
		}
	}
}

.version-widget{
	h4 {
		span {
			font-size: 12px;
			line-height: 14px;
			vertical-align: top;
		}
	}
}

#sinav {

	&.accordion {
		margin-bottom: 35px;
	}
	.accordion-group {
		border-radius: 0;
		margin-bottom: 0;
		border: 0;
		border-bottom: 1px solid lighten(@esBorder, 3%);

		&.active
		{
			background: #fff;
			ul{
				margin: 10px 0 10px;
			}
		}
	}

	> li {
		position: relative;
		background: @sideSubBackground;
		// background:  url(../images/nav-bg3.png) repeat;
		border-bottom: 1px solid lighten(@esBorder, 3%);

		a {
			background: #fff;
			> i{
				margin-right: 8px;
				color: #555;
			}
		}
		> a:first-child {
			// background: url(../images/nav-bg2.png) repeat;
			#gradient > .vertical(@sideBackgroundHightlight, @sideBackground);
			display: block;
			height: 36px;
			padding: 2px 30px 5px 20px;
			line-height: 34px;

			color:#333;
			font-weight: bold;
			// border-bottom:1px solid lighten(@esBorder, 5%);
			position: relative;

			.box-shadow(0 1px 1px rgba(255,255,255,.5) inset);
			// text-shadow: 0 1px 0 rgba(255,255,255,.5);
			.no-focus-outline();

			&:hover {
				text-decoration: none;
			}
		}
		// override default icon ies-share to show as facebook icon
		i.ies-share:before {
			content: "\e0d5" !important;
		}

		i {
			// display: inline-block;
			// vertical-align: text-top;
		}
		[class^="icon-sb-"],
		[class*=" icon-sb-"] {
			margin-right: 8px;
		}
		.icon-es-tri-down { //triangle for dropdown content
			display: none;
			position: absolute;
			top: 14px;
			right: 10px;
		}
		&.active {
			// background: #f6f0d7;
			// background: white;

			> a {
				i{
					color: #fff;
				}
			}

			> a:first-child {
				// background: url(../images/nav-bg-active.png) repeat;
				position: relative;
				color: white;
				text-shadow: 0 1px 0 rgba(0,0,0,.5);
				.box-shadow(0 1px 0px rgba(0,0,0,.2) inset);
				// border-top: 1px solid darken(@esBorder, 5%);
				#gradient > .vertical(@sideActiveBackgroundHightlight, @sideActiveBackground);
			}
			b { //active arrow
				position: absolute;
				width: 0;
				height: 0;
				border-color: transparent;
				border-style: solid;

				right: -1px;
				top:10px;
				// margin-top: -@tooltipArrowWidth;
				border-width: 8px 8px 8px 0 ;
				border-right-color: #F8F8F8;
				z-index: 10;
				// &:after {
				// 	position: absolute;
				// 	width: 0;
				// 	height: 0;
				// 	border-color: transparent;
				// 	border-style: solid;
				// 	content: "";
				// 	z-index: -1;
				// 	right:-11px;
				// 	top:-10px;
				// 	border-width: 9px 9px 9px 0 ;
				// 	border-right-color: #F8F8F8;
				// 	z-index: 9;
				// }
			}
		}//active
		.badge {
			position: absolute;
			right: 20px;
			top: 8px;
			background: #cc4456;
			padding: 3px 6px;
			border-radius: 2px ;
		}

		> ul {
			>li {
				.badge {
					top: 5px;
				}
			}
		}
		&:last-child {
			border-bottom:1px solid lighten(@esBorder, 5%);
		}
	}// li

	.progress {
		// display: none;
		position: absolute;
		top:34px;
		margin-left: 24px;
		height: 6px;
		width: 80%;
		border-radius: 2px;
		#gradient > .vertical (#c5c5c5,#c7c8cd);

		.bar {
			border-radius: 2px;
			#gradient > .vertical (#76d4f7,#22abe2);
		}
	}

	ul { //submenu level 1
		margin: 0;
		padding: 0;

		&.collapse.in{
			min-height: 150px;
		}
		// background:  url(../images/nav-bg3.png) repeat;
		// background: white;
		// border-left: 1px solid lighten(@esBorder, 4%);
		> li {
			position: relative;

			a {
				color: #333;
				display: block;
				padding: 6px 30px 8px 40px;
				height: 30px;
				font-size: 11px;
				font-weight: normal;
				.box-shadow(none);
				// background:  url(../images/nav-bg3.png) repeat;
				// background: @sideSubBackground;
				border-bottom:none;
				line-height: 16px;
				> i {
					.opacity(.6);
				}
				&:hover {
					background: #EBEFF3;
					color: darken(@sideActiveBackgroundHightlight, 30%);
					text-decoration: none;
				}
				// .icon-si {
				// 	background: url(../images/icon-submenu.png) no-repeat;
				// }

			}
			b {
				display: none;
			}

			.progress {
				top:34px;
				margin-left: 54px;
				width: 120px;
				border-radius: 5px;
				.bar {
					border-radius: 5px;
				}
			}
			&.active {
				border-top: 1px solid #BED3EA;
				border-bottom: 1px solid #BED3EA;
				a {
					background-color: #E7EDF3;
					color: darken(@sideActiveBackgroundHightlight, 10%);
					i {
						display: inline-block;
					}
				}
				b {
					display: none;
				}
			}
		}//li

	}//submenu


}//sinav

