/* global */
body{
	font-family:Tahoma,Helvetiva,sans-serif;
}
.clearfix:after{
	display: block;
	height: 0;
	clear: both;
	content: "";
	visibility: hidden;
	
}
.clearfix{
	*zoom:1;/*ie 7 and less */
}

video,
embed,
object{
	max-width:100%;
}

/*--------------quiz_container-------------- */
.jq_quiz_container_title{
	float:left;
	height:100%;
	line-height:30px;
}
.jq_result_display_number{
	float:right;
}
.jq_result_display_number_left_bottom{
	float:none;
	margin:20px 0;
}
.jq_block_hidden{ /* common class for javascript */
	visibility:hidden;
	position:absolute;
}
.jq_block_visible{ /* common class for javascript */
	visibility:visible;
	position:static;
}
.jq_quiz_container_tbl{
	padding:1px;/*  margin-collapse prevention */
}
.jq_quiz_container1{
	margin:0 25px;
	width: auto!important;
}
.jq_question_info_container{
	margin-bottom:15px;
}
/* progressbar */
.jq_progressbar_culculus{
	border-radius:3px;
}
.jq_progressbar_culculus .jq_indicator{
	border-radius:2px;
}
.jq_time_tick_container{
	float:right;
}
.jq_question_info_container .jq_time_tick_container{
	margin:0;
}
/*-------------- quiz_container end-------------*/
	
/*-------------bottom_container----------------*/

.jq_quiz_task_container a{
	position:relative;/* for positioning i */
}
.jq_panel_link_container{
	float:left;
}	
.jq_panel_link {
	padding-left:10px;
	position:relative;/* for i positioning */
}
.jq_panel_link i{
	position:absolute;
	top:4px;
	left:0;
	line-height:normal;
}
.jq_quize_arrow_little{
	display:inline-block;
	*zoom:1;
	*display:inline;
	font-size:0;
	border-width:3px;
	border-style:solid;
	width:0;
	height:0;
}
/* ------------bottom_container end--------------- */
	
/*------------questions-------------*/	
.jq_question_caption > div{
	display:inline-block;
	*zoom:1;
	*display:inline;
}
.jq_question_caption p{
	font-size:14px;
	margin:5px 0;
}
.jq_question_caption input{
	margin: 2px 10px;
}

.jq_question_answers_cont{
	margin:20px 0;
}	
.jq_quiz_align{
	display:inline-block;
	*zoom:1;
	*display:inline;
}

/* "who is it" question*/
.jq_quiz_cover{
	float:left;
	margin:0 10px 5px 0;
}
.dc_buttons_container{
	float:left;
}

.dc_button{
	padding:1px;
	border:none;
	border-radius:6px;
	width:100%;
	cursor:pointer;
	margin:0;
}
.dc_button span{
	border-radius:5px;
	padding:10px;
	display:block;
	min-width:345px;
	max-width:100%;
	*width:345px;/* for ie7 */
}
/* "who is it" question end*/
			
/* hotspot question */
.jq_hotspot-wr{
	display:inline-block;
	*zoom:1;
	*display:inline;
}
.jq_quiz_circle{
	width:26px;
	height:26px;
	line-height:24px;
	border-radius:16px;
	display:block;
	text-align:center;
}
/* "click on any area" question end */

/* "image match" question */
.jq_image_match-wr  td{
	padding:0;
}

/* -------result page-------------- */
.jq_results_container{
	margin:10px 0;
	padding:5px 0;
	width:100%;
	table-layout:fixed;
}
.jq_results_score_holder{
	display:inline-block;
	*zoom:1;
	*display:inline;
}
.jq_footer_link{
	display:inline-block;
	*zoom:1;
	*display:inline;
}
.jq_footer_link a{
	padding-left:15px;
	margin-right:15px;
}
.jq_ffeedback_header_left{
	float:left;
}
.jq_ffeedback_header_right{
	float:right;
}
/* accordion */
.jq_feedback_question{
	margin-bottom:5px;	
}
.jq_feedback_question_content_inner{
	width:100%;
	border-collapse:collapse;
}
/* quiz message */
.jq_fmessage_container{
	table-layout:auto;
}
.jq_fmessage_container_empty_col{
	width:30px;
}
.jq_fmessage_container_full_col{
	width:auto;
}	
/* visible part of accordion */
.jq_feedback_question_header{
	cursor:pointer;
	width:100%;
	border-collapse:collapse;
}
.jq_feedback_question_header td{
	padding-top:10px;
	padding-bottom:10px;
}
.jq_result_question_arrow{
	width:25px;
	padding-left:10px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.jq_result_question_arrow i{
	display:block;
	width:0;
	height:0;
	border-width:8px;
	border-style:solid;
}
.jq_result_question_header{
	text-align:left;
}
.jq_result_question_header span,
.jq_result_question_header strong{
	display:block;
}
.jq_result_question_stat{
	padding-right:20px;
	text-align:right;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.jq_result_question_stat span{
	display:block;	
}
/* hidden part of accordion */
.jq_feedback_question_content td{
	padding:10px 0;
}	
.jq_feedback_question_header_inner{
	padding-top:10px;
	padding-bottom:10px;
}
.jq_feedback_question_content_inner table{
	width:100%;
}
.jq_feedback_question_content_col_wide{
	max-width:50%;
	text-align:left;
	width:50%;
}
.jq_feedback_question_content_col_narrow{
	width:30%;
	text-align:center;
}
.jq_feedback_question_content_choice{
	height: 25px;
	width: 25px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-left: 30px;
	line-height: 25px;
}

/* dalli click question type */
.jq_feedback_question_content_dalli_click button{
	margin:5px 0;
	display:block;
}
/* memory game and image match question type */
.jq_feedback_question_content_memory_and_match .jq_feedback_question_content_header .jq_feedback_question_content_col_wide{
	padding-left:30px;
}
/* select question type */
.jq_feedback_question_content_select .jq_feedback_question_content_col_wide b{
	float:left;
	width:50%;
}
.jq_feedback_question_content_select .jq_feedback_question_content_col_wide span{
	float:right;
	text-align:left;
	width:50%;
}
/* checkbox and radio question type */
.jq_feedback_question_content_checkbox_radio .jq_feedback_question_content_container .jq_feedback_question_content_col_wide b{
	padding-left:35px;
}

/* question types with table border */
.jq_table_with_border .jq_feedback_question_content_col_wide{
	padding-left:15px;
}
/* ---------results panel------------ */
.jq_results_panel_table{
	width:100%;
	border-collapse:separate;/* opera ignores border-collapse:collapse and shows border-spacing on td:hover  */
	border-spacing:0;
	margin:10px 0 25px 0;
	*border-collapse:collapse;/* ie 7 doesn't know border-spacing */
}	
.jq_quize_general_caption{
	margin-bottom:10px;
}
.jq_results_panel_table td{
	padding:6px 0 8px 0;
}
td.jq_panel_table_number{
	padding-left:2px;
}
.jq_panel_table_header_number_question:first-child{
	padding-left:5px;
	width:30px;
}
.jq_panel_table_center_aling{
	text-align:center;
}
.jq_panel_result_effect{
	padding-left:25px;
	display:inline-block;
	*zoom:1;
	display:inline;
}
.jq_panel_result_false{
	background:url(../images/result_panel_false.png) center left no-repeat;
}
.jq_panel_result_true{
	background:url(../images/result_panel_true.png) center left no-repeat;
}
.jq_panel_table_number i{
	margin-left:3px;
	vertical-align: middle;
}
/*----------------culculus quize statistics----------------------*/	
.jq_calculus_statistic-wr{
	margin:10px 0;
}
.jq_calculus_statistic_header{
	padding:6px 10px;
	margin:0 0 10px 0;
}
.jq_calculus_statistic td{
	padding:8px 15px 8px 2px;
}
.jq_calculus_statistic_custom{
	width:97%;
	border-collapse:collapse;
	margin:20px 0;
}	
.jq_calculus_statistic_custom td{
	padding:0 3px 0 2px;
}
.jq_calculus_statistic_custom_caption{
	text-align:left;
	padding-left:25px;
}
.jq_calculus_statistic_custom_caption i{
	vertical-align:middle;
}
.jq_calculus_statistic_custom_head th{
	text-align:left;
	padding-left:20px;
	padding:8px 15px 8px 2px;
}
.jq_calculus_custom_empty_cell{
	width:28px;
}
.jq_progressbar_culculus-wr{
	width:50%;
}
/*--------------popup----------------*/
.jq_popup_bottom{
	margin:10px 0;
}
.jq_popup_right{
	float:right;
}
.jq_time_tick_container_popup{
	float:left;
}
.jq_points_container_popup, .jq_close_popup-wr{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

.jq_ajax_loader
{
	background-image:url('../images/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.jq_quiz_container_tbl #jq_quiz_container1 {
    height: auto;
    min-height: 250px;
    width: 100%;
}

.joomlaquiz_container ul.actions
{
	text-align:right;
    padding:0 ;
    width:100%;
    margin:0
}

.joomlaquiz_container ul.actions li
{
   display:inline
}

.joomlaquiz_container ul.actions a
{
   text-decoration:none
} 

div.moduletable.joomlaquiz_container div.current {
	max-width: 10000px !important;
}

div.moduletable.joomlaquiz_container dl.tabs {
	margin-top: 10px !important;
}

.jq_fe_toolbar{ margin: auto !important;}

.jq_fe_toolbar a{ padding: 2px;}

div.moduletable.joomlaquiz_container a:hover, div.moduletable.joomlaquiz_container a:focus {
	background-color:transparent !important;
	color: #000000 !important;
}

div.moduletable.joomlaquiz_container table {
	border-collapse: separate;
}

div.moduletable.joomlaquiz_container tr, td {
	border: none !important;
	color: black !important; 	
}

div.moduletable.joomlaquiz_container td.sectiontableheader {
    background: none repeat scroll 0 0 #EFEFEF;
    border-right: 1px solid #FFFFFF;
    color: #333333;
    font-weight: bold;
    padding: 4px;
}

div.moduletable.joomlaquiz_container tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td {
    padding: 4px;
}

div.moduletable.joomlaquiz_container td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {
    padding: 3px;
}

div.moduletable.joomlaquiz_container table.contentpaneopen, table.contentpane {
    margin: 0;
    padding: 0;
    width: auto;
}

div.moduletable.joomlaquiz_container table.contentpaneopen fieldset {
    border-color: #DDDDDD;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

div.moduletable.joomlaquiz_container table.contentpaneopen h3 {
    margin-top: 25px;
}
div.moduletable.joomlaquiz_container table.contentpaneopen h4 {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}

.jq_statistics_container_table tbody tr td,
.jq_statistics_container_table tbody tr.sectiontableentry1 td,
.jq_statistics_container_table tbody tr.sectiontableentry2 td {
	padding: 3px 3px 3px 10px;	
}

.jq_color_1{ background-color:  #009933; border: 1px solid  #006633; }

.jq_color_2{ background-color: #99CC00; border: 1px solid #999900; }

.jq_color_3{ background-color: #9966FF; border: 1px solid  #9933FF; }

.jq_color_4{ background-color: #FFCC00; border: 1px solid #FF9900; }

.jq_color_5{ background-color: #FF3366; border: 1px solid #FF3333; }

.jq_color_6{ background-color: #3399FF; border: 1px solid #3333FF; }

.jq_color_7{ background-color: #66FF99; border: 1px solid #66CC66; }

.jq_input_pos label
{
	display:inline;
}

.jq_puzzle_img
{
	margin-top:10px;
}

#c_flag{
	vertical-align:bottom;
	display: block;
	float: left;
}

#c_flag_label{
	display: block;
	float: left;
}

.jq_inputbox{
	border: 1px solid #DDDDDD;
	height: 25px;
}

/* Fix Span with "Points for the correct answer @n" */
@media screen and (max-width: 980px) {
	.jq_question_info_container { 
		position: relative;
		margin-bottom: 2%; 
	}

	.jq_question_info_container > span#jq_points_container.jq_points_container { 
		position: static; 
		left: auto; 
		right: auto; 
		text-align: left; 
		font-size: 80%; 
		float: left; 
		width: 100%; 
		clear: both; 
		margin: 2% 0; 
		padding: 0; 
	}
}