/**
 * @version		2.6.x
 * @package		K2
 * @author		JoomlaWorks http://www.joomlaworks.net
 * @copyright	Copyright (c) 2006 - 2014 JoomlaWorks Ltd. All rights reserved.
 * @license		GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */

/* categorieslatest.php, userslatest.php, users.php, items.php */
.ui-sortable { padding:4px 0; position:relative; }
#categoriesList li,#usersList li,#itemsList li { list-style:none; margin:4px 0; line-height:16px; height:16px; }
.ui-sortable span { height:16px; line-height:16px; }
.ui-sortable span.handle { cursor:move; }
.ui-sortable img.remove { width:16px; height:16px; margin:0; margin-right:4px; cursor:pointer; float:left; }

/* header.php */
.k2clr { clear:both; height:0; line-height:0; border:none; float:none; background:none; padding:0; margin:0; }
.paramHeaderContainer { clear:both; font-weight:bold; font-size:12px; color:#369; margin:12px 0 4px; padding:0; background:#d5e7fa; border-bottom:2px solid #96b0cb; float:left; width:100%; }
.paramHeaderContainer15 { clear:both; font-weight:bold; font-size:12px; color:#369; margin:0; padding:0; background:#d5e7fa; border-bottom:2px solid #96b0cb; float:left; width:100%; }
	.paramHeaderContent { padding:6px 8px; }

/* Normalize module param width in Joomla! 1.6+ */
.pane-sliders ul.adminformlist { margin:0; padding:0; list-style:none; }
.pane-sliders ul.adminformlist li { margin:0; padding:0; list-style:none; clear:both; }
.pane-sliders ul.adminformlist li label { clear:left; background:#f6f6f6; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9; margin:0 4px 1px 0; padding:4px; color:#666; font-weight:bold; text-align:right; font-size:11px; width:140px; }
.pane-sliders ul.adminformlist li fieldset {margin:0;}
.pane-sliders ul.adminformlist li fieldset label { clear:none; width:auto; background:none; font-weight:normal; border:none; padding:0; text-align:left; margin:5px 0; width:auto; }
.pane-sliders ul.adminformlist li select,
.pane-sliders ul.adminformlist li textarea,
.pane-sliders ul.adminformlist li input[type="text"] { margin:0; }

/* Joomla! 1.6-1.7 configuration settings */
body.contentpane ul.config-option-list li>label { background:#f6f6f6; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9; color:#666; font-weight:bold; text-align:right; font-size:11px; width:150px; margin:0 0 1px; padding:4px; }
body.contentpane div.current select { margin-bottom:0!important; }
body.contentpane dl.tabs { padding-left:8px!important; }
body.contentpane dl.tabs dt.open { background:#fff!important; border-bottom:1px solid #fff!important; }
