.red-texteditor-toolbar {
padding: 10px 1%;
background-color: #F8F9FA;
width: 96%;
margin-top: -15px;
border: 1px solid #ccc;
border-top: 1px solid #F8F9FA;
position: relative;
z-index: 5;
-webkit-border-radius: 0 0 4px 4px! important;
    -moz-border-radius: 0 0 4px 4px! important;
    border-radius: 0 0 4px 4px !important;
}

.jb-namereg-field{
    position: relative;
    top: -44px;
	z-index: 6;
}

.jb-namereg-field .jb-comment-btn{
    position: absolute;
    right: 14px;
}

.comment-texeditor-container .wysihtml5-sandbox{
	position: relative !important;
	z-index: 1 !important;
}

.red-btn-group {
position: relative;
display: inline-block;
height: 21px;
vertical-align: middle;
min-width: 115px;
}

.red-btn-group  a{
color: #777;
}

.red-btn-group  a:hover{
color: #333;
opacity: 1;
filter: alpha(opacity=100);
text-decoration: none;
}

.red-btn{
display: inline-block;
height: 15px;
line-height: 15px;
padding: 3px 4px;
}

.red-btn:hover{
opacity: .65;
filter: alpha(opacity=65);
-webkit-transition: opacity 0 linear;
-moz-transition: opacity 0 linear;
-o-transition: opacity 0 linear;
transition: opacity 0 linear;
}

.red-btn:hover, .red-btn:active {
outline: 0;
background-image: none;
}

.red-btn:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}

.red-texteditor-toolbar .wysihtml5-command-active {
outline: 0;
background-image: none;
outline: 0;
background-color: #e6e6e6;
*background-color: #d9d9d9;

-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

[class^="red-icon-"] {
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
background-image: url("awesome_icons.png");
background-repeat: no-repeat;
}

.red-icon-bold{
    background-position: -50px 0;
}
.red-icon-italic{
    background-position: -26px 0;
}
.red-icon-link{
    background-position: -88px 0;
}
.red-icon-underline{
    background-position: 0 0;
}
.red-icon-list-ul{
    background-position: -158px 0;
}
.red-icon-list-ol{
    background-position: -112px 0;
}
.red-icon-ok{
    background-position: -67px 0;
    margin-right: 5px;
}
.red-icon-remove{
    background-position: -136px 0;
    margin-right: 5px;
}
/*hidden part*/
.red-input-append {
    margin: 20px 0 0 10px;
}

.red-input-append .red-btn {
vertical-align: top;
margin-left: 7px;
margin-top: 3px;
cursor: pointer;

-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.red-input-append .red-btn:last-child {
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

.red-input-append input {
width: 210px; /*значение ширины задается в зависимости от необходимости*/
height: 20px;
padding: 4px 6px;
margin: 0;
font-size: 14px;
font-weight: normal;
line-height: 20px;
color: #555555;
display: inline-block;
vertical-align: top;
background-color: #ffffff;
border: 1px solid #cccccc;

-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;

-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.red-input-append input:focus {
border: solid 1px;
border-color: rgba(82, 168, 236, 0.8);
outline: 0;

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);

z-index: 2;
}