.calendar_table {
	/**/
}

.calendar_outter{
	border: 1px solid #aaa;
}

table.calendar_outter td#cells{
	padding:5px;
}

.calendar_header {
	background: url(./images/bg.jpg) #cccccc repeat-x;
	color:#111;
	height: 20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#calendar_table .month_name {
	width:14%; 
	text-align:left; 
	height:25px;
	background:#f6f6f6; 
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
	font-weight:bold;
	vertical-align:middle;
	color:#111;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:20px !important;
}

#calendar_table .day {
	border-bottom:1px solid #aaa; 
	border-left:1px solid #aaa;
}		

#calendar_table .day_empty {
	
	border-bottom:1px solid #aaa; 
	border-left:1px solid #aaa;
	color:#111;
}

#calendar_table .day_start {
	background:#3366FF;
	border-left:1px solid #aaa; 
	border-bottom:1px solid #aaa;
	font-weight:bold;
	cursor: pointer;
	color:#111;
}

#calendar_table .day_end {			
	background:#CC0000;
	border-left:1px solid #aaa; 
	border-bottom:1px solid #aaa;
	font-weight:bold;
	cursor: pointer;
	color:#111;
}

#calendar_table .day_lesson {			
	background:#FFCC00;
	border-left:1px solid #aaa; 
	border-bottom:1px solid #aaa;
	font-weight:bold;
	cursor: pointer;
	color:#111;
}

.today {
	background:#aca;
	border-left:1px solid #aaa; 
	border-bottom:1px solid #aaa;
	font-weight:bold;
	color:#111;
	min-width:50px;
}

.disabled {
	background:#ccc;
	color:#ddd;
	border-left:1px solid #aaa; 
	border-bottom:1px solid #aaa;
}

.calendar_table td {
	padding:3px !important;
	width:5% !important;
	height:28px !important;
	float: none !important;
	font-size:14px !important;
}

.cell {
	vertical-align:middle;
	text-align:center;
	height:25px;
	width:25px;
	font-weight:bold;
}

#calendar_table .last_col {
	border-right:1px solid #aaa; 
}

#calendar_table .first_row {
	border-top:1px solid #aaa; 
}

#calendar_table .week_names {
	font-weight: bold;
	color: #999999;
}

.calendar_table .week_names {border:none}
.calendar_table tr {border:none}
/*.calendar_table .day, .calendar_table .day_empty {border:1px solid #999;}*/

.calendar h2.container_heading { padding-left: 0; text-align: center; }
.calendar h2.container_heading .left_arrow { position: absolute; left: 0; top: 4px; width: 58px; height: 32px; border-right: solid 1px #dadada}
.calendar h2.container_heading .left_arrow a, .calendar h2.container_heading .left_arrow a:hover { position: absolute; left: 50%; top: 50%; margin: -8px 0 0 -5px; width: 11px; height: 17px; overflow: hidden; text-indent: 11px; background: url(../images/arrow_left.gif) no-repeat left top !important; }
.calendar h2.container_heading .right_arrow { position: absolute; right: 0; top: 4px; width: 58px; height: 32px; border-left: solid 1px #dadada}
.calendar h2.container_heading .right_arrow a, .calendar h2.container_heading .right_arrow a:hover { position: absolute; right: 50%; top: 50%; margin: -8px -5px 0 0; width: 11px; height: 17px; overflow: hidden; text-indent: 11px; background: url(../images/arrow_right.gif) no-repeat left top !important; }

table.calendar_table td.gray { background: #a6a6a6; }
table.calendar_table td.yellow { background: #FFFFC6 !important; color: #565656 !important;}
table.calendar_table td.red { background: red; }
table.calendar_table td.blue { background: cyan; }

.jbtip-entries-list li
{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    clear: none;
    list-style: none outside none !important;
    margin: 0 0 10px 0;
    overflow: visible;
    padding: 0;
}

.calendar h2.container_heading {
  margin: 0 !important; /* new */
  padding-left: 0;
  text-align: center;
}

.calendar h2.container_heading .left_arrow a, .calendar h2.container_heading .left_arrow a:hover {
    margin: -8px 0 0 -5px !important;  overflow: hidden;
}

.calendar h2.container_heading .right_arrow a, .calendar h2.container_heading .right_arrow a:hover {
    margin: -8px 0 0 -5px !important;  overflow: hidden;

}