table.adminlist a.loading, table.adminlist span.loading {
    background-image: url(../images/loading.gif) !important;
}

.button2-left {
    float: left;
    margin-right: 10px;
}

#filter_author_id, #filter_category_id, #filter_blog_id, #filter_author_id, #filter_plugin_type, #filter_status {
    float: right;
    margin-right: 5px;
}

.control-label {
    width: auto;
    float: left;
    padding: 5px;
}

#jform_rssFeedBurnerLabel {
    width: 400px;
}

.controls {
    width: auto;
    /*float:left;*/
}

.accordion-inner {
    padding: 0px !important;
}

.strong {
    border-bottom: 1px dashed #FFF;
    font-weight: bold;
}

.lefmenutd {
    width: 10%;
}

.jp-panel-logo {
    height: 20px;
    vertical-align: top;
    width: 20px;
}

#jb-navbar {
    margin-bottom: 10px;
}

.container .brand {
    text-transform: uppercase;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial;
}

.notice {
    background-color: #FFEAEA;
    border: 1px solid #C97979;
    border-radius: 3px 3px 3px 3px;
    color: #C60606;
    margin-bottom: 10px;
    padding: 8px;
    text-align: left;
}

/* HACKS */
.hide {
    display: none !important;
}

form dl.tabs {
    margin: 0px 0px -1px 0px;
}

form div.current {
    padding: 0px;
}

form div.current label {
    margin-top: 4px;
}

form div.current fieldset.adminform {
    border: none;
}

form div.current fieldset.adminform fieldset {
    border: 1px solid #CCC;
}

form div.current fieldset.adminform fieldset.radio {
    border: none;
}

form label#jform_title-lbl,
form label#jform_leveltitle-lbl,
form label#jform_grouptitle-lbl {
    padding-top: 0px;
}

form fieldset.adminform {
    margin: 0px;
}

li a#upload-select {
    display: block;
    padding: 3px;
    border: 1px solid #CCC;
    background-color: #EFEFEF;
}

/*FE*/
.joomportftabl, .joomportftabl table {
    border: none !important;
}

.joomportf_add_this {
    padding: 5px;
}

.jportf_catalogs {
    list-style: square outside url("../images/categories.png");
    padding: 0 0 0 25px !important;
}

.nocursor {
    cursor: default !important;
}

.jprtf_notopbord {
    border-top: none !important;
}

.jprtf_bord {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    padding: 5px;
    text-align: center;
}

.jprtf_bord:hover {
    background-color: #F7F7F7;
}

.jprtf_nounder {
    text-decoration: none !important;
}

.jportfcopyright {
    color: #666666;
    font-size: x-small;
}

.breadcrumbs {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #0D4C89;
    font-family: 'Titillium Maps', Arial;
    margin-top: -1px !important;
    margin: 0 0 10px;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.19em;
    padding: 5px;
}

.itemimg {
    float: left;
    padding: 5px;
}

.jportf_imlist {
    list-style: none;
    list-style-type: none !important;
}

.jportf_back {
    background-image: url('../images/back.png');
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 50px;
    display: none;
}

.jportf_next {
    background-image: url('../images/forward.png');
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 50px;
    display: none;
}

.joomportftabl td,
.joomportftabl tr {
    border: none;
}

.clr {
    clear: both;
}

.jportf_image_box {
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    padding: 5px;
}

.jportf_image_box_add {
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    padding: 5px;
}

.jportf_item_cat {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCD;
    margin: 0 3px 3px;
    padding: 5px;
}

.jportf_item_cat:hover {
    background-color: #F7F7F7;
}

.jportf_item {
    /*
  border-right: 1px solid #DDDDDD;
  */
    /*
  color: #0D4C89;
  */
    padding: 5px;
}

.jportf_title {
    font-weight: bold;
    /*
border-bottom: 1px solid #DDDDDD;
*/
}

.jportf_title a {
    text-decoration: none !important;
}

.jportf_custom_title {
    font-weight: bold;
    padding: 3px;
}

.jportf_details {
    padding-top: 15px;
}

.jportf_image {
    width: 180px;
    padding: 4px;
}

.jportf_extra, .jportf_image {
    float: left;
}

fieldset {
    background-color: #FFFFFF;
}

.settingfieldset {
    border: 1px solid #CCCCCC !important;
}

#jform_description_tbl, #jform_shot_description_tbl, #jform_intro_bottom_tbl, #jform_intro_top_tbl {
    width: 550px !important;
}

/*BE*/

#tm-navbar {
    margin-bottom: 18px !important;
}
.tm-panel-logo {
    height: 20px;
    vertical-align: top;
    width: 20px;
}

.container .brand {
    text-transform: uppercase;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial;
    float: left !important;
    font-size: 16px !important;
    margin-left: 0 !important;
    padding: 5px 12px !important;
}

/*** Control panel ***/

.joomblog_dashboard {
    float: left;
    height: auto;
    min-height: 100px;
    margin: 0 0 0 0;
}

.joomblog_dashboard .btn {
    height: 60px;
    padding: 20px 10px;
    vertical-align: middle;
    width: 100px;
    margin: 0px 10px 10px 0px;
}
.joomblog_dashboard .btn > div {
    font-weight: bold;
    padding-top: 5px;
}
.joomblog_dashboard img {
    margin-top: -5px;
}

div.form-horizontal.joomblog_control_panel_container {
    float: right;
    margin-right: 15px;
}
.joomblog_control_panel_table {
    float: right;
    background-color: #F7F8F9;
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
    width: 100%;
    max-width: 940px;
    margin: 0 0 0 0;
    padding: 10px;
}
.joomblog_control_panel_table td {
    background-color:#fff;
    padding: 4px;
    height: 25px;
}
.joomblog_control_panel_table td,
.joomblog_control_panel_table th,
.joomblog_control_panel_table tr {
    border: 1px solid #d5d5d5;
    cursor: default;
}
th.joomblog_control_panel_title {
    border-top: none !important;
}
.joomblog_control_panel_title {
    font: normal normal bold 16px/1.4em helvetica;
    cursor: default;
    padding: 2px 0 2px 0;
    background-color: #0088CC;
    border-radius: 5px;
    color: #FFFFFF;
}
.joomblog_control_panel_title a { color: #fff;}
.joomblog_control_panel_title a:hover { color: #fff; text-decoration: underline}
.joomblog_control_panel_current_version {
    font-weight: bold;
}
.joomblog_control_panel_news_table {
    background-color: #F7F8F9;
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}
.joomblog_control_panel_news_table td {
    height: auto;
}
.joomblog_control_panel_news_table td[section]{
    font: normal normal bold 14px/1.4em helvetica;
    cursor: default;
    background-color: #e7e8e9;
}
.joomblog_control_panel_news_table td[section] img {
    margin-right: 4px;
    vertical-align: baseline;
}
td.joomblog_control_panel_thanks_cell {
    padding: 5px 0px 2px 20px;
}
.joomblog_control_panel_thanks {
    float: left;
    font-size: 12px;
    padding: 0 0 2px 0;
}
.joomblog_control_panel_rate_us {
    float: left;
    clear: both;
    margin: 3px 0px 5px 0px;
}
td.joomblog_control_panel_news_cell {
    padding-left: 20px;
}
.joomblog_control_panel_news {
    padding: 0 10px 0 0;
}
/*----------------------------------------------------*/
.jprt_left {
    text-align: left !important;
}

#imagesTable img {
    float: none;
}

#imagesTable select {
    width: 220px;
}

input, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid silver;
    font-size: 1.0em;
}

input#jform_title, input#jform_leveltitle, input#jform_grouptitle {
    font-size: 1.0em !important;
}

fieldset.adminform fieldset.radio label, fieldset.panelform fieldset.radio label {
    min-width: 20px !important;
}

/*ABOUT*/
.a_comptitle {
    font-size: 16px;
    font-weight: normal;
}

.about_table {
    background-color: #F7F8F9;
    border: 1px solid #d5d5d5;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

.about_table td {
    background-color: #fff;
    padding: 4px;
}

.about_table, .about_table td, .about_table th, .about_table tr {
    border: 1px solid #d5d5d5
}

.update_link {
    cursor: pointer;
    text-decoration: underline;
}

.thank_tabl {
    background-color: #F7F8F9;
    border: 1px solid #d5d5d5;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

.thank_ftd {
    background-color: #e7e8e9;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.thank_fdiv {
    float: left;
    width: 720px;
}

.thank_rate {
    float: left;
    display: block;
    width: 234px;
    height: 60px;
    background: transparent url(http://cdn.hotscripts.com/img/widgets/rt_234x60-1.gif) 0 0 no-repeat;
    font: normal 11px/12px Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: right;
}

.thank_form {
    display: block;
    position: relative;
    left: 79px;
    margin: 0;
    padding: 8px 0 0;
    width: 153px;
    overflow: hidden;
    text-align: left;
}

.about_news {
    background-color: #e7e8e9;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

/*ICONS*/
.icon-16-jp_menu_pic {
    background-image: url("../images/jp_menu_pic.gif");
}

.icon-48-help {
    background-image: url("../images/help48.png");
}

.icon-48-about {
    background-image: url("../images/about48.png");
}

.icon-48-drafts {
    background-image: url("../images/draft48.png");
}

.icon-48-posts {
    background-image: url("../images/posts48.png");
}

.icon-48-archives {
    background-image: url("../images/archive48.png");
}

.icon-48-blogs {
    background-image: url("../images/blogs48.png");
}

.icon-48-categories {
    background-image: url("../images/categories48.png") !important;
}

.icon-48-tags {
    background-image: url("../images/tags48.png");
}

.icon-48-comments {
    background-image: url("../images/comments48.png");
}

.icon-48-customs {
    background-image: url("../images/custom48.png");
}

.icon-48-users {
    background-image: url("../images/users48.png");
}

.icon-48-plugins {
    background-image: url("../images/plugins48.png");
}

.icon-48-support {
    background-image: url("../images/support48.png");
}

.icon-48-settings {
    background-image: url("../images/settings48.png");
}

.icon-48-sampledata {
    background-image: url("../images/sample48.png");
}

.icon-32-new {
    background: url(../images/toolbar/new.png) !important;
}

.icon-32-edit {
    background: url(../images/toolbar/edit.png) !important;
}

.icon-32-delete {
    background: url(../images/toolbar/delete.png) !important;
}

.icon-32-archive {
    background: url(../images/toolbar/archive.png) !important;
}

.icon-32-publish, .icon-32-unblock {
    background: url(../images/toolbar/publish.png) !important;
}

.icon-32-unpublish {
    background: url(../images/toolbar/unpublish.png) !important;
}

.icon-32-help {
    background: url(../images/toolbar/help.png) !important;
}

.icon-32-options {
    background: url(../images/toolbar/options.png) !important;
}

.icon-32-checkin {
    background: url(../images/toolbar/checkin.png) !important;
}

.icon-32-apply {
    background: url(../images/toolbar/checkin.png) !important;
}

.icon-32-save {
    background: url(../images/toolbar/save.png) !important;
}

.icon-32-save-new {
    background: url(../images/toolbar/savenew.png) !important;
}

.icon-32-save-copy {
    background: url(../images/toolbar/savecopy.png) !important;
}

.icon-32-cancel {
    background: url(../images/toolbar/cancel.png) !important;
}

.icon-32-install {
    background: url(../images/toolbar/install.png) !important;
}

.jgrid span.publish, a.grid_true {
    background-image: url(../images/tick.png) !important;
}

.jgrid span.unpublish, a.grid_false {
    background-image: url(../images/publish_x.png) !important;
}

/*MENU*/
#jpMenu {
    width: 202px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#jpMenu div.topbg {
    width: 100%;
    background: url(../images/top_menu_bg.jpg) no-repeat 50% 0%;
    padding-top: 7px;
}

#jpMenu div.botbg {
    width: 100%;
    background: url(../images/bottom_menu_bg.jpg) no-repeat 50% 100%;
    padding-bottom: 5px;
}

#jpMenu div.logo {
    text-align: center;
}

#jpMenu div.logo img {
    border: none;
}

#jpMenu div.logo h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    color: #5c82c3;
    font-style: italic;
}

#jpMenu div.mainbg {
    background: #FFF;
    width: 200px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

#jpMenu a.menu_link:link, #jpMenu a.menu_link:visited {
    font-weight: bold;
    color: #000000;
}

#jpMenu a.menu_link:hover {
    color: #3366CC;
    text-decoration: none;
}

#jpMenu .pane-sliders .title {
    margin: 0;
    padding: 2px;
    color: #666;
    cursor: pointer;
}

/* FIELD FORM */
form#field-form fieldset.adminform {
    display: none;
}

form#field-form fieldset#fieldset-details {
    display: block;
}

/*SMT*/

.jbadmintitle {
    width: 22%;
    text-align: right;
    vertical-align: inherit;
}

.jbadmintitle label {
    float: right !important;
}

dl.tabs dt {
    border-radius: 4px;
    background-color: #cccccc;
}

.row1 fieldset {
    background-color: transparent !important;
}

.row0 fieldset {
    background-color: transparent !important;
}

.jbsettings fieldset {
    margin-bottom: 7px;
    padding: 3px 2px 4px 7px !important;
    border-radius: 3px;
}

.calendar {
    margin-top: 3px;
}

#pgm_dashboard {
    margin: 20px 10px 0 0;
    width: 49%;
    min-height: 100px;
    height: auto;
    float: left;
}

#pgm_collapse {
    width: 49%;
    float: left;
    margin: 20px 0 0 0;
}

.pgm-dashboard_button {
    cursor: pointer;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #eed;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 5px;
    padding: 20px 10px;
    width: 100px;
    height: 66px;
    overflow: hidden;
}

.pgm-dashboard_button:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px #eed;
}

.pgm-dashboard_button_text {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.pmg-dashboard_item_icon {
    margin-left: 24px;
}

#dashboard_items {
    clear: both;
    margin-left: 5px;
    padding-top: 10px;
}

#dashboard_items a {
    vertical-align: middle;
}

.jb-survey {
    border: 1px solid rgb(215, 198, 154);
    border-radius: 5px;
    position: relative;
    height: 15px;
    width: 450px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgb(248, 238, 185);
    top: 40px;
    box-shadow: 0 3px 10px 1px #ccc;
}

.jb-survey .icon-remove {
    background: url('../images/icon-close.png');
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 5px;
    color: #cccccc;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.jb-survey a {
    color: #025A8D;
}

#close-icon:hover {
    color: #000000;
}