header .header-profile-menu {
    display: none;
    position: absolute;
    right: 5%;
    top: 67px;
    z-index: 50000;
    border: 2px solid #bbd700;
    padding: 2px 10px;
    border-radius: 5px;
    background: #FFF;
}

header .header-profile-menu li {
    height: 29px;
}
.com_plot {
    color: #FCFCFC;
}
form.search {
    overflow: visible;
}
#plot-search-results {
    border: 2px solid #336699;
    border-radius: 8px;
    margin-top: 5px;
    position: absolute;
    z-index: 50000;
    width: 290px;
    background-color: #FFF;
    padding-bottom: 5px;
    display: none;
    color: black;
}
#plot-search-results .header {
    background-color: #FFF7D6;
    margin-bottom: 3px;
}
#plot-search-results .header:first-child {
    border-radius: 8px 8px 0 0;
}
#plot-search-results li {
    padding: 2px 8px;
}
#plot-search-results li:not(.header):not(.no-results):hover {
    background-color: #DAF2FC;
}

#plot-search-results .found-item .image {
    float: left;
    width: 50px;
}
#plot-search-results .found-item .image img {
    max-width: 50px;
    max-height: 50px;
}
#plot-search-results .found-item .title {
    float: left;
    padding: 5px 10px;
    max-width: 200px;
}
.more {
    margin: 5px;
}
.elem-descr {
    display: none;
}