<?php 
/**
* JoomBlog component for Joomla
* @version $Id: toolbar.tmpl.html 2011-03-16 17:30:15
* @package JoomBlog
* @subpackage onlyprimarybar.tmpl.html
* @author JoomPlace Team
* @Copyright Copyright (C) JoomPlace, www.joomplace.com
* @license GNU/GPL http://www.gnu.org/copyleft/gpl.html
*/
global $_JB_CONFIGURATION; 
?>
<!-- Blog Header -->
<div id="joomBlog-head">
    <h3><?php echo $title; ?></h3>
    <div class="desc"><?php echo $summary; ?></div>
	<div style="clear: left;"></div>		
</div>
