<?php
/**
* JoomBlog component for Joomla
* @version $Id: users.tmpl.html 2011-03-16 17:30:15
* @package JoomBlog
* @subpackage users.tmpl.html
* @author JoomPlace Team
* @Copyright Copyright (C) JoomPlace, www.joomplace.com
* @license GNU/GPL http://www.gnu.org/copyleft/gpl.html
*/

defined('_JEXEC') or die('Restricted access');
global $_JB_CONFIGURATION;
$user = $man[0];
$bloggers = $recent[0];
if ($user->site){
$user->site = (preg_match("/http:\/\//", $user->site, $match)) ? $user->site : "http://".$user->site;
}
?>


<div class="jb-blogs" id="profile-<?php echo $user->user_id;?>">
    <div class="jb-blogs-head clearfix">

        <div class="jb-blog-imgcont">
            <?php if ($_JB_CONFIGURATION->get('avatar')!= "none"): ?>
                <img class="jb-author-avatar" alt="<?php echo $user->name;?>" src="<?php echo $user->src;?>">
            <?php else: ?>
                <img class="jb-author-avatar" alt="<?php echo $user->name;?>" src="<?php echo JURI::root().'components/com_joomblog/images/user.png';?>">
            <?php endif; ?>
        </div>

        <div class="jb-blog-info">
            <h3 class="jb-blog-title">
                <a href="<?php echo $user->link;?>">
                    <?php
                        if ($_JB_CONFIGURATION->get('useFullName')) {
                            echo $user->name;
                        } else {
                            echo $user->username;
                        }
                        ?>
                </a>
            </h3>

            <?php if ($user->about): ?>
                <div  class="jb-author-desc jb-author-desc-short">
                    <div class="jb-author-desc-inner"><?php echo str_replace("\n", "<br/>", $user->about);?>
                        <a href="" class="jb-read-more-link"><?php echo JText::_('COM_JOOMBLOG_USER_DASHBOARD_MORE');?></a>
                        <!--There should be Read more link-->
                    </div>
                </div>
            <?php endif; ?>

            <div class="clearfix">
                <?php
                    if ($user->site):
                $user->site
                    ?>
                    <span class="jb-authorsite">
                        <i class="jb-icon-earth"></i>
                        <a class="jb-usersite-link" rel="nofollow" target="_blank" href="<?php echo $user->site;?>"><?php echo $user->site;?></a>
                    </span>
                <?php endif; ?>

                <?php if ($user->twitter): ?>
                    <span class="jb-authortwitter">
                        <i class="jb-icon-tweet"></i>
                        <a class="jb-twitter-link" rel="nofollow" target="_blank" href="<?php echo 'https://twitter.com/'.$user->twitter;?>"><?php echo JText::_("COM_JOOMBLOG_USER_PROFILE_TWITTER_PROFILE"); ?></a>
                    </span>
                <?php endif; ?>

                <?php if ($user->facebook): ?>
                    <span class="jb-authorfacebook">
                        <i class="jb-icon-facebook"></i>
                        <a class="jb-facebook-link" rel="nofollow" target="_blank" href="<?php echo 'https://www.facebook.com/'.$user->facebook;?>"><?php echo JText::_("COM_JOOMBLOG_USER_PROFILE_FACEBOOK_PROFILE"); ?></a>
                    </span>
                <?php endif; ?>

                <?php if ($user->google_plus): ?>
                    <span class="jb-authorgoogleplus">
                        <i class="jb-icon-google-plus-2"></i>
                        <a class="jb-googleplus-link" rel="nofollow" target="_blank" href="<?php echo 'https://plus.google.com/'.$user->google_plus.'?rel=author';?>"><?php echo JText::_("COM_JOOMBLOG_USER_PROFILE_GOOGLE_PLUS_PROFILE"); ?></a>
                    </span>
                <?php endif; ?>
            </div>
        </div>
    </div>


    <div class="jb-blog-main clearfix">
        <h4 class="jb-mbm"><?php echo JText::_('COM_JOOMBLOG_RECENT_POST');?></h4>
        <?php if (!empty($bloggers)): ?>
        <ul class="jb-blogposts-list ulrest">
            <?php foreach($bloggers as $blogger): ?>
            <?php
					$blogLink = JRoute::_('index.php?option=com_joomblog&blogid='.$blogger->
            bid.'&Itemid='.$Itemid.'&view=blogger');
            $articleLink = JRoute::_('index.php?option=com_joomblog&show='.$blogger->id.'&Itemid='.$Itemid);
            ?>
            <li>
                <h3 class="jb-recent-entry">
                    <a href="<?php echo $blogLink;?>"><?php echo $blogger->btitle;?></a> <span
                        class="blog-sep">&#8594;</span> <a href="<?php echo $articleLink; ?>"
                                                           class="jb-blogpost"><?php echo $blogger->title?></a>
                </h3>

                <div class="jb-posttags"><?php echo JText::_('COM_JOOMBLOG_LISTTAGS').$blogger->categories;?></div>
                <small class="jb-created-bgk"><?php echo $blogger->created;?></small>
                <small class="jb-category-bgk">
                    <?php if( $categoryDisplay ) {
	                        		echo ($blogger->
                    multicats?JText::_('COM_JOOMBLOG_CATEGORIES'):JText::_('COM_JOOMBLOG_CATEGORY')).$blogger->jcategory;
                    } ?>
                </small>
            </li>
            <?php endforeach; ?>
        </ul>

        <small class="jb-show-all"><a
                href="<?php echo JRoute::_('index.php?option=com_joomblog&user='.$user->username.'&Itemid='.$Itemid);?>"><?php echo JText::_('COM_JOOMBLOG_SHOW_ALL');?>
            (<?php echo $totalArticle;?>)</a></small>
        <?php else: ?>
        <?php echo '<ul class="jb-blogposts-list ulrest">
        <li>'.$user->name.' '.JText::_('COM_JOOMBLOG_HAS_NOT_CREATED_ANY_BLOG_POST').'</li>
        </ul>'; ?>
        <?php endif; ?>
    </div>
</div>