.def-cursor {
    cursor: default;
}
.def-cursor:hover {
    cursor: default;
}
.shelf-info {
    overflow: visible;
    z-index: 5;
}
.bulb-menu {
    all: unset;
    display: none;
    position: absolute;
    right: -45px;
    top: 25px;
    z-index: 50000;
    border: 2px solid #bbd700;
    padding: 2px 10px;
    border-radius: 5px;
    background: #FFF;
    color: black;
}
.bulb-menu li {
    all: unset;
}
.bulb-menu li a {
    all: unset;
    cursor: pointer;
}

.more {
    margin: 5px;
}
.top .user-level {
    display: block;
}
.wrap.child-profile .new-event .stream-item {
    vertical-align: top;
}
#progress {
    color: #FFF;
}
.main-user-info-top {
    color: #FFF;
}
.shelf-menu-top .course-image {
    max-width: 213px;
}
.looking-at-user-header .header-profile-menu {
    display: none;
}
.modal > .finance-info {
    padding: 0.7em 5%;
}
#child-add-course form button[type=submit] {
    margin-top: 10px;
}