
.joomblogposts-notice td
{
	vertical-align: top;
	padding:4px;
}

.joomblogposts-header
{
	margin: 0 0 5px;
}

.joomblogposts-header tr
{
	border-bottom: solid 1px #ccc;
}

.blogcreatedate
{
	text-align: right; 
	font-weight: 700;
	font-size:10px;
}

.blog-sep {
    color: #AAAAAA;
    font-family: Verdana;
    font-weight: normal;
    text-shadow: none;
}

.category-bgk {
    background: url("/components/com_joomblog/templates/default/images/10-category.png") no-repeat scroll 0 50% transparent;
    padding-left: 13px;
}

.moderatelink
{
	background: url("moderate.png") no-repeat scroll 0 50% transparent;
   padding: 2px 5px 2px 25px !important;
	float:right;
}

.createlink
{
	background: url("newblogpost.png") no-repeat scroll 0 50% transparent;
	padding: 2px 5px 2px 25px !important;
	float:right;
}

.joomblogposts-title a {
	font-size: 110%;
	font-weight: 700;
}
.joomblogposts-content {
	font-size: 90%;
}

table.joomblogposts-table {
	border: none;
	width: 100%;
}

table.joomblogposts-table tr td {
	/*padding: 8px 5px;*/
}
ul#joomblogposts li {
	background: none;
	list-style: none;
}

.joomblogposts 
{
	list-style-type: none !important;
	list-style: none;
	padding-top: 15px !important;
}


/****WINDOW****/
/* CSS Document */

#blogWindow {
	width: 820px;
	position: absolute;
	z-index: 100;
}
a#sf_close_btn:link, a#sf_close_btn:visited {
	height: 20px;
	width: 20px;
	float: right;
	text-indent: -9999px;
	outline-style: none;
	background: transparent  url(close_1.png) no-repeat top left;
	margin: 5px 5px 0 0;
}
a#sf_close_btn:hover {
	background: transparent  url(close_2.png) no-repeat top left;
}

#sf_tl {
	width: 20px;
	height: 20px;
	background: transparent url(tl.png) no-repeat top left;
	float: left;
}
#sf_tm {
	width: 780px;
	background: transparent url(tm.png) no-repeat top left;
	float: left;
	height: 20px;
}
#sf_tr {
	background: transparent url(tr.png) no-repeat top right;
	float: left;
	width: 20px;
	height: 20px;
}
#sf_ml {
	width: 20px;
	background: transparent url(lm.png) no-repeat top left;
	float: left;
	height: 560px;
}
#blogWindowContentOuter {
	float: left;
	height: 560px;
	width: 780px;
	overflow: hidden;
}
#blogWindowContentTop {
	height: 30px;
	background: #333333;
	border-bottom: solid 1px #999999;
	width: 780px;
	float: left;
}
#blogWindowContent {
	width: 780px;
	background:	#ffffff;
    height: 560px;
	float: left;
	padding: 5px;
}
#sf_mr {
	width: 20px;
	background: transparent url(rm.png) no-repeat top right;
    height: 560px;
	float: left;
}
#sf_bl {
	width: 20px;
	height: 20px;
	background: transparent url(bl.png) no-repeat bottom left;
	float: left;
}
#sf_bm {
	width: 780px;
	background: transparent url(bm.png) no-repeat bottom left;
	float: left;
	height: 20px;
}
#sf_br {
	width: 20px;
	height: 20px;
	background: transparent url(br.png) no-repeat bottom right;
	float: left;
}