.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	/*width:		100%;		 width needed weird IE bug */
	/*margin-right:	-2px;	 to make room for the shadow */
}
.dynamic-tab-pane-control .tab-row .tab {
	height: 16px;
	background: url(tab_r.png) top right no-repeat;
	position: relative;
	top: 0;
	display: inline;
	float: right;
	overflow: hidden;
	cursor: pointer;
	margin: 1px 2px 1px -1px;
	padding: 0px 0px 0px 0px;
	border: 0;
	z-index: 1;
	font: 11px Tahoma, Helvetica, sans-serif;
	white-space: nowrap;
	text-align: center;
}

.dynamic-tab-pane-control .tab-row .tab span {
	display: inline;
	float: left;
	height: 16px;
	padding: 2px 10px;
	background: url(tab_l.png) top left no-repeat;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	height: 18px !important;
	background:	url(tab_active_r.png) top right no-repeat !important;
	border-bottom-width:	0;
	z-index: 3;
	padding:	0px 0px 0px 0px;
	margin: 1px 0px -3px -3px;
	top: -2px;
	font: 11px Tahoma, Helvetica, sans-serif;
}

.dynamic-tab-pane-control .tab-row .tab.selected span {
	background: url(tab_active_l.png) top left no-repeat !important;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font:	11px Tahoma, Helvetica, sans-serif;
	color: #333 !important;
	text-decoration: none;
	cursor: pointer;
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	font:	11px Tahoma, Helvetica, sans-serif;
	height: 16px;
	background: url(tab_hover_r.png) top right no-repeat;
}

.dynamic-tab-pane-control .tab-row .tab.hover span {
	background: url(tab_hover_l.png) top left no-repeat;
}

.dynamic-tab-pane-control .tab-page {

	border: 1px solid rgb( 145, 155, 156 );
	background: rgb( 252, 252, 254 );
	z-index: 2;
	position: relative;
	top: -2px;
	font: 11px Tahoma, Helvetica, sans-serif;
	color: #333;

	/*244, 243, 238*/
	/* 145, 155, 156*/
	padding:	5px;
	width: 97%;  /* stupid stupid stupid IE!!! */
	float: right;

}
.dynamic-tab-pane-control .tab-row {
	z-index: 1;
	white-space: nowrap;
}