.jq_mchoice{
	width:100%;
}

.jq_quiz_task_container{
	float:right;
	margin:0 25px;
}

.jq_results_container, .jq_results_container tr,td
{
	border: none !important;
}

div.incorrect_answer
{
	background: url("../images/result_panel_false.png") no-repeat scroll 12px center #F3DEDE;
    border-radius: 6px 6px 6px 6px;
    display: block;
    margin-bottom: 20px;
    padding: 3em;
	color:#C80000;
}

div.correct_answer
{
	background: url("../images/result_panel_true.png") no-repeat scroll 12px center #e6e9d6;
    border-radius: 6px 6px 6px 6px;
    display: block;
    margin-bottom: 30px;
    padding: 3em;
	color:#00c800;
}

#quest_table
{
	border:none !important;
}

#quest_table tr,td
{
	border:none !important;
}

#quest_table strong
{
	color:#fff;
}

div.jq_draggable_div {
    position:relative;
    width:250px;
    height:30px;/* !important always == 30px ! */
    margin:10px;
	background: #bcdb95 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #bcdb95 1%, #bbd895 18%, #b0d185 33%, #a5c47d 67%, #9fbf76 84%, #9bb679 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#bcdb95), color-stop(18%,#bbd895), color-stop(33%,#b0d185), color-stop(67%,#a5c47d), color-stop(84%,#9fbf76), color-stop(100%,#9bb679)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb95', endColorstr='#9bb679',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    cursor:default;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #6D9F2C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 30px;
}
div.jq_draggable_stop_div {
    position:relative;
    width:250px;
    height:30px;/* !important always == 30px ! */
    margin:10px;
    background: #bcdb95 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #bcdb95 1%, #bbd895 18%, #b0d185 33%, #a5c47d 67%, #9fbf76 84%, #9bb679 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#bcdb95), color-stop(18%,#bbd895), color-stop(33%,#b0d185), color-stop(67%,#a5c47d), color-stop(84%,#9fbf76), color-stop(100%,#9bb679)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb95', endColorstr='#9bb679',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    cursor:default;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #6D9F2C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 30px;
}
div.jq_cont_drag_div {
    position:relative;
    width:250px;
    height:30px;/* !important always == 30px ! */
    margin:10px;
    background: #9edb64 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9edb64 0%, #92d157 17%, #91ce58 33%, #85bf50 67%, #80b252 83%, #74a547 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9edb64), color-stop(17%,#92d157), color-stop(33%,#91ce58), color-stop(67%,#85bf50), color-stop(83%,#80b252), color-stop(100%,#74a547)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9edb64', endColorstr='#74a547',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    cursor:default;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #6D9F2C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 30px;
}
div.jq_highlight_drag_div {
    position:relative;
    width:250px;
    height:30px;/* !important always == 30px ! */
    margin:10px;
    background: #bcdb95 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #bcdb95 1%, #bbd895 18%, #b0d185 33%, #a5c47d 67%, #9fbf76 84%, #9bb679 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#bcdb95), color-stop(18%,#bbd895), color-stop(33%,#b0d185), color-stop(67%,#a5c47d), color-stop(84%,#9fbf76), color-stop(100%,#9bb679)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb95', endColorstr='#9bb679',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
    cursor:default;
    text-align:center;
    vertical-align:middle;
    border: 1px solid #6D9F2C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    line-height: 30px;
}

/*- Blank Drag-Drop ---------------------------------------------------*/
.blank_correct{
    background: #bbFFbb !important;
}

.blank_incorrect{
    background: #FFbbbb !important;
}

.jq_blank_container{
    border: 1px solid #cccccc;
    min-width:100px;
    display:inline-block;
    padding:2px;
}
.jq_blank_draggable {
    border: 1px solid transparent;
    min-width:100px;
    display:inline-block;
    cursor:pointer;
    z-index:1000002;
}

div.incorrect_answer_mini {
    background-color: #FFCCCC;
    border: 1px solid #666666;
    font-weight: bold;
    min-width: 100px;
    vertical-align:middle;
    padding: 5px 5px 5px 5px;
    z-index: 1000;
}

.jq_draggable_answer.ui-draggable-dragging {
    z-index:1000001;
}

.jq_draggable_answer{
    padding:5px;
    margin: 5px;
    float:left;
    min-width: 100px;
    cursor: pointer;
}

.jq_draggable_answer ,.jq_draggable_answer_span{
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}
/*-------------------------------------------------------------------*/

/*--------------global-------------- */
button:focus,
input:focus,
.jq_mquestions input:focus + label,
.jq_mchoice input:focus + label,
.jq_mresponse input:focus  + label
{
	 border:1px dotted #000 !important;
	 outline:none;
}

.jq_mquestions input + label,
.jq_mchoice input + label,
.jq_mresponse input  + label{
  border: 1px dotted transparent;
}
/*--------------quiz_container-------------- */

#im_table tr, td
{
	border: none !important;
}

#im_table
{
	border: none !important;
}

.jq_mdropdown tr, td
{
	border: none !important;
}
.jq_question_inner{
	padding-top: 1px;
}

.jq_mquestions tr, td
{
	border: none !important;
}

.jq_mchoice tr, td
{
	border: none !important;
}

.jq_mresponse tr, td
{
	border: none !important;
}

.jq_mquestions, .jq_mchoice, .jq_mresponse, .jq_mdropdown
{
	border: none !important;
}

.jq_quiz_container_tbl-wr{
	border-radius:10px;
}
.jq_quiz_container_tbl_content{
	border:1px solid #eaeaea;	
	border-radius:10px;
	box-shadow: inset 10px 10px 20px 0px #f3f3f3,
	inset -10px -10px 20px 0px #f3f3f3;
}
.jq_jq_quiz_container_header{
	color:#000;
	border-bottom:1px solid #e5e8e9;
	margin:0 26px 0 15px;
}
.jq_quiz_container_title{
	font-size:18px;
	font-weight:normal;
	padding:0 7px;
	margin:10px 0;
}
.jq_result_display_number{
	padding-right:20px;
	margin-top:13px;
}
.jq_result_display_number span{
	font-size:13px;
}
.jq_quiz_container_tbl{
	padding-top:0;/* decline css-geometry style */
}	
.jq_bottom_container{
	position:relative;/* for :before element position */
	overflow:hidden;/* hides :before element */
	border-top:#eff0f2;
}
.jq_bottom_container.jq_block_hidden{
	position:absolute;/* when both clasess exist */
}
.jq_bottom_container:before {
	content:" ";
	position:absolute;
	top: -20px;
	height:20px;
	left: 0;
	right: 0;
	box-shadow: 0 0 20px #c7c7c7;
	border-radius: 150px/20px;
}
/* -----------sample of content figuration----------- */
.jq_quiz_container_description{
	font:13px normal Helvetica, Tahoma, sans-serif;
	color:#000;
	margin:25px 20px;
} 
.jq_quiz_container_description h2{
	color:#6d9f2c;
	font-size:24px;
	margin:25px 0 15px 5px;
	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.jq_quiz_right_content{
	float:left;
	width:375px;
	margin-right:15px;
}
figure{
	margin:0;
	background-color:#f6f6f6;
	border:3px solid #f0f0f1;
	border-radius:5px;
}	
figure img{
	padding:1px;
	margin-bottom:10px;	
}
figcaption{
	text-align:center;
	color:#a3a3a3;
	margin-bottom:10px;
	font-weight:bold;
}
blockquote{
	margin:25px 15px 10px 0px;
	text-align:left;
	line-height:18px;
	border-left:3px solid #eee;
	padding-left:15px;
}
blockquote span{
	display:block;
	color:#666666;
}
.jq_quiz_container_description ul{
	margin:26px 0;
	padding:0;
	list-style:disc;
	position:relative;
	left:18px;
}
.jq_quiz_container_description  li{
	margin:10px 0;
}
/* -----------sample of content figuration end------------  */

/* ------------bottom_container--------------- */
.jq_quiz_task_container a,
.jq_close_popup{
	background:#6d9f2c;
	border-radius:3px;
	line-height:19px;
	text-decoration:none;
	font-size:15px;
	color:#fff !important;
	float:left;
	margin:8px 0 8px 4px;
	height:20px;
	padding:3px 15px;
	cursor:pointer;
	position:relative;/* for i  */
}
.jq_close_popup{
	float:none;
}
.jq_quiz_task_container a:hover,
.jq_close_popup:hover{
	background:#9BB679;
}
.jq_quiz_task_container .jq_next_link{
	font-size:0;/* hides text */
}
.jq_quiz_task_container .jq_back_link{
	font-size:0;/* hides text */
}
.jq_quiz_task_container i{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font-size:20px;
	font-style:normal;
	vertical-align:middle;
	text-align:center;
	line-height: 21px;
}
.jq_panel_link_container{
	font-size:12px;
	margin:15px 10px 0 25px;
}
.jq_panel_link{
	text-decoration:none;
	color:#6d9f2c;
}
.jq_quize_arrow_little{
	border-color:transparent transparent transparent #ff9900;
}
.jq_quiz_container1{
	clear:both;
}	
.jq_points_container{
	font-size:13px;
	color:#666666;
	display:block;
	text-align:right;
	*text-align:left;
	margin:10px 0px;
	text-align: center;
	position: absolute;/* for centering only */
	left:0;
	right: 0;
	top: 0;
	padding-left: 120px;/* = width of .jq_question_name */
	padding-right: 190px;/* = width of .jq_time_tick_container */
}
.jq_time_tick_container{
	font-size:13px;
	background-color:#e5e8e9;
	border-radius:0 0 3px 3px;
	padding: 12px 25px 12px 25px;
	color:#333;
	margin:0 25px;
}
.jq_time_tick_container {
	float:right; 
	padding-right:20px;
	margin:-1px -1px 0 0; 
}	
.jq_quize_time{
	color:#333;
}
.jq_time-separator{
	font-weight:bold;
}
.jq_question_text_cont{
	padding-top: 1px;
}
.jq_question_info_container{
	margin-top: -40px;/* moves on one level with .jq_time_tick_container */
	text-align: left;
	line-height: 18px;
	*text-align:left;
	position: relative;/* for .jq_points_container */
}
.jq_question_name-wr,
.jq_points_container,
.jq_time_tick_container{
	display:block;
}
	
/*------------- progressbar ----------------*/
.jq_progressbar{
	width: 100%;
	margin: 10px 0;
	height: 19px;
	padding: 1px;
	position: relative;/* for .jq_progressbar_name positioning */
}
.jq_question_name-wr{
	/* declane inherited from .jq_progressbar */
	width: auto;
	margin: 0;
	height: auto;
	padding: 0px;
	position: static;
}
.jq_progressbar_culculus{
	border:1px solid #b2b2b2;
	background-color:#FFF;
}
.jq_progressbar_name{
	text-align:center;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	display:block;
	height:19px;
	line-height:19px;
}
.jq_question_name{
	color: #666;
	font-size:16px;
	padding:10px 0;
	display:block;/* for top-padding */
	text-align:left;
		
	/* declane inherited from jq_progressbar_name */
	position:static;
	height:auto;
	width:auto;
	line-height:normal;
}
.jq_indicator{
	display:none;
}
.jq_progressbar_culculus{
	background-image:url(../../images/progressbar_culculus_bg.gif);
	background-repeat:repeat-x;
}
.jq_progressbar_culculus .jq_indicator{
	display:block;
	float: left;
	height: 19px;
}
.jq_indicator_mod{
	background: #7fba30; /* Old browsers */
	background: -moz-linear-gradient(top, #7fba30 0%, #77a63a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fba30), color-stop(100%,#77a63a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7fba30 0%,#77a63a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fba30', endColorstr='#77a63a',GradientType=0 ); /* IE6-9 */
}
.jq_indicator_mod2{
	background: #2b9e74; /* Old browsers */
	background: -moz-linear-gradient(top, #2b9e74 0%, #217f5d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b9e74), color-stop(100%,#217f5d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2b9e74 0%,#217f5d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2b9e74 0%,#217f5d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2b9e74 0%,#217f5d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2b9e74 0%,#217f5d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9e74', endColorstr='#217f5d',GradientType=0 ); /* IE6-9 */
}
.jq_indicator_mod3{
	background: #7fba30; /* Old browsers */
	background: -moz-linear-gradient(top, #7fba30 0%, #77a63a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fba30), color-stop(100%,#77a63a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7fba30 0%,#77a63a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7fba30 0%,#77a63a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fba30', endColorstr='#77a63a',GradientType=0 ); /* IE6-9 */
}
.jq_indicator_mod4{
	background: #227781; /* Old browsers */
	background: -moz-linear-gradient(top, #227781 0%, #1c646d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#227781), color-stop(100%,#1c646d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #227781 0%,#1c646d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #227781 0%,#1c646d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #227781 0%,#1c646d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #227781 0%,#1c646d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227781', endColorstr='#1c646d',GradientType=0 ); /* IE6-9 */
}
.jq_indicator_mod5{
	background: #207699; /* Old browsers */
	background: -moz-linear-gradient(top, #207699 0%, #0b688d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207699), color-stop(100%,#0b688d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #207699 0%,#0b688d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #207699 0%,#0b688d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #207699 0%,#0b688d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #207699 0%,#0b688d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207699', endColorstr='#0b688d',GradientType=0 ); /* IE6-9 */
}
.jq_indicator_mod6{
	background: #93afbc; /* Old browsers */
	background: -moz-linear-gradient(top, #93afbc 0%, #6d8692 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93afbc), color-stop(100%,#6d8692)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #93afbc93afbc 0%,#6d8692 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #93afbc 0%,#6d8692 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #93afbc 0%,#6d8692 100%); /* IE10+ */
	background: linear-gradient(to bottom, #93afbc 0%,#6d8692 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93afbc', endColorstr='#6d8692',GradientType=0 ); /* IE6-9 */
}
/*---------------questions----------------*/
.jq_quiz_align-wr{
	text-align:left;
}
.jq_question_caption{
	margin:0;
	text-align:left;
}
.jq_question_caption p
.jq_question_caption span,
.jq_question_caption div,
.jq_question_caption div div,
.jq_question_caption h1,
.jq_question_caption h2,
.jq_question_caption h3,
.jq_question_caption h4,
.jq_question_caption h5,
.jq_question_caption h6{
	color:#666666;
	font-family:Tahoma,Helvetiva,sans-serif;
	font-size:14px;
}
.jq_question_answers_cont{
	color:#666666;
}	
			
.jq_blank, .jq_question_caption input{
	border:1px solid #dcdcdc;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
/* "who is it" question*/
.dc_button{
	background-color:#e7e7e7;
	font-size:13px;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}	
.dc_button span{
	border-top:1px solid #f2f1f1;
	border-left:1px solid #f2f1f1;
}
.jq_dc_button_true{
	background-color:#6d9f2c;
}
.jq_dc_button_true span{
	border-top:1px solid #7bb332;
	border-left:1px solid #7bb332;
	color:#fff;
	text-shadow: 0px -1px 1px #3d8d5e;
}
.jq_dc_button_false{
	background-color:#c33430;
}
.jq_dc_button_false span{
	border-top:1px solid #d2524f;
	border-left:1px solid #d2524f;
	color:#fff;
	text-shadow: 0px -1px 1px #c27e7c;
	text-shadow:none;
}
/* "who is it" question end*/
			
/* hotspot question */	
.jq_hotspot_align{
	text-align:left;
	overflow:auto;/* scroll */
}
.jq_quiz_circle{
	background-color: #fff;
	border:4px solid #F10B0B;
	color: red;
	font-size:16px;
}
/* "click on any area" question end */	
	
/* image match question */
.jq_image_match-wr{
	border-spacing:0 10px;
}
.jq_match_image_place{
	background:#e5e8e9 url(../../images/image_match_cross.gif) center no-repeat;
}
td.jq_match_image_element{
	padding-left:60px;
}
/* simple text question */
.jq_survey{
	border:1px solid #dddddd;
	border-radius:4px;
	width:300px;
	height:100px;
}

/* checkbox and radio questions */
.quest_pos_td
{
	padding-right:15px;
}

.jq_mquestions,
.jq_mchoice,
.jq_mresponse{
	width:auto;
}
.jq_input_pos{
	text-align:left;
}
.jq_input_pos input{
	margin:0;
}
.jq_mchoice .msq_option > input[type='radio']
{
	opacity: 0; 
}
		
.jq_mquestions td:not(#foo)  > input[type='radio'],
.jq_mchoice td:not(#foo)  > input[type='radio'], 
.jq_mresponse td:not(#foo)  > input[type='checkbox'] {
	opacity: 0; 
	float: left;
	width: 18px;
}
		
.jq_mchoice .msq_option
{
	display:block;
	float:left;
}
		
.msq_option > input[type='radio'] + label{
	margin: 0;
	padding: 4px 0 4px 24px;
	cursor: pointer;
	background: url(./../images/check_on.png) left 4px no-repeat;
}
		
.jq_mchoice  .msq_option > input[type='radio'] + label{
	background: url(./../images/radio_on.png) left 4px no-repeat; 
}
.jq_mchoice .msq_option > input[type='radio']:checked + label {
	background-image: url(./../images/radio_off_green.png);
	background-repeat: no-repeat;
}
		
.jq_mquestions td:not(#foo) > input[type='radio'] + label,
.jq_mchoice td:not(#foo) > input[type='radio'] + label,
.jq_mresponse td:not(#foo) > input[type='checkbox'] + label{
	margin: 0;
	clear: none;
	display:block;
	padding: 4px 0 4px 24px;
	cursor: pointer;
	background: url(./../images/check_on.png) left 4px no-repeat; 
	line-height:14px;
}
.jq_mchoice td:not(#foo) > input[type='radio'] + label{
	background: url(./../images/radio_on.png) left 4px no-repeat; 
}
.jq_mchoice td:not(#foo) > input[type='radio']:checked + label {
	background-image: url(./../images/radio_off_green.png);
	background-repeat: no-repeat;
}
		
.jq_mquestions td:not(#foo) > input[type='radio'] + label{
	background: url(./../images/radio_on.png) left 4px no-repeat; 
}
.jq_mquestions td:not(#foo) > input[type='radio']:checked + label {
	background-image: url(./../images/radio_off_green.png);
	background-repeat: no-repeat;
}
.jq_mresponse td:not(#foo) > input[type='checkbox']:checked + label {
	background-image: url(./../images/check_off_green.png);
	color:#000;
}
/*--------custom select question---------- */	
.jq_mdropdown td{
	text-align:left;
	padding-bottom: 10px;
}
.chzn-container .chzn-results .highlighted {
	background: #80ac48;	
}
 .chzn-container-active .chzn-single{
	border:1px solid #80ac48!important;
}
/*----------------result page --------------------- */
.jq_results_container{
	border-bottom:1px solid #8bb257 !important;
}
.sectiontableheader{
	padding-left:30px;
}
.jq_results_header {
	background:url(./../images/result_star_green.png) 0 0 no-repeat !important;
}
.jq_message_header {
	background:url(./../images/result_circle_green.png) 0 0 no-repeat !important;
}
.jq_ffeedback_header{
	background:url(./../images/result_grafic_green.png) 0 0 no-repeat !important;
}
.jq_ffeedback_header_right{
	font-size:12px;
	color:#6d9f2c;
	text-decoration:underline;
	font-family:Tahoma,Arial,sans-serif;
}
.sectiontableheader{
	 padding: 5px 0 0 40px !important;
	color:#6d9f2c !important;
	font-size:21px !important;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif !important;
	padding-bottom:10px !important;
}
.sectiontableentry{
	color:#333333 !important;
	font-size:13px !important;
}
.jq_footer_link a{
	color:#77a53a;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
}
.jq_review a{
	background:url(./../images/result_review_green.png) left center no-repeat;
}
.jq_print a{
	background:url(./../images/result_pdf_green.png) left center no-repeat;
}
.jq_try_again a{
	background:url(./../images/result_again_green.png) left center no-repeat;
}
.jq_certificate a{
	background:url(./../images/result_little_star_green.png) left center no-repeat;
}
.jq_email a{
	background:url(./../images/result_letter_green.png) left center no-repeat;
}
/* quize results */
.jq_results_filds .sectiontableentry{
	padding:0 30px;
}
.jq_results_filds .sectiontableentry{
	text-align:left;
	line-height: 35px;
}
.jq_results_filds .sectiontableentry:first-child{
	text-align:left;
	border-left:none;
}
.jq_result_key{
	color:#8bb257;
	font-size:13px;
	margin-left: 38px;
	float:left;
}

.jq_result_value
{
	float:right;
}
.jq_result_bg{
	background-color:#f5f5f5;
}
/* quiz message */	
.jq_fmessage_container .sectiontableentry{
	padding:5px 10px;
}
.jq_message_actions{
	padding:15px 10px;
}
.jq_footer_container{
	margin:40px 0 30px 0;
}
/* visible part of accordion */
.jq_feedback_question_header td{
	background-color:#f1f6eb;
}
.jq_result_question_arrow i{
	border-color:transparent transparent transparent #77a53a;
}
.jq_result_question_header span{
	font-size:16px;
	color:#333;
}
.jq_result_question_header strong{
	font-size:17px;
	color:#6d9f2c;
	font-weight:normal;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}
.jq_result_question_stat{
	font-size:12px;
	color:#000;		
}
/* hidden part of accordion */
.jq_feedback_question_header_inner{
	background-color:#e0f0f7;
}		
.jq_feedback_question_content_header td{
	font-size:12px;
	color:#000;
	font-weight: bold;
}
.jq_feedback_question_content_container{
	font-size:14px;
	color:#0d0d0d;
}
.jq_feedback_question_content_choice{
	font-size:10px;
}
.jq_feedback_question_content_choice b{
	font-weight:normal;
}
.jq_feedback_choice_true{
	color:#77a53a;
	background:url(../../images/result_true_green.png) left center no-repeat;
}
.jq_feedback_choice_false{
	color:#f80909;
	background:url(../../images/result_false.png) left center no-repeat;
}
/* select question type */
.jq_feedback_question_content_select .jq_feedback_question_content_col_wide b{
	color:#666;
	font-family:Helvetica, Tahoma, sans-serif;
}
/* checkbox and radio question type */
.jq_feedback_question_content_checkbox_radio .jq_feedback_question_content_container .jq_feedback_question_content_col_wide b{
	color:#666;
	font-family:Helvetica, Tahoma, sans-serif;
}
.jq_feedback_question_content_checkbox_radio .jq_feedback_question_content_container .jq_feedback_question_content_col_wide .jq_checkbox_quest_true{
	color:#77a53a;
	background:url(../../images/result_checkbox_true_green.png) 12px center no-repeat;
}
/* question types with table border */
.jq_table_with_border .jq_feedback_question_content_container td{
	border-top:1px solid #f5f5f5;
}
/*  question types answers with table */
.jq_feedback_question_content_header td:first-child{
	padding-top:8px;
}
.jq_feedback_question_content_container:last-child td{
	padding-bottom:30px;
}
/* hot spot question and jq_feedback_question_content_dalli_click */
.jq_feedback_question_content_hot_spot .jq_feedback_question_content_inner,
.jq_feedback_question_content_dalli_click .jq_feedback_question_content_inner{
	padding:30px 0;
}
	
/* ---------results panel------------ */
.jq_results_panel_table{
	border-bottom:1px solid #e5e8e9;
}
.jq_quize_general_caption{
	font-size:21px;
	color:#6d9f2c;
	font-weight:normal;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	text-align:left;
}
.jq_panel_table_header td{
	background-color:#e2ecd5;
}
.jq_panel_table_header_number_question{
	font-size:10px;
	color:#333;
}
.jq_panel_table_center_aling{
	border-left:1px solid #e5e8e9;
	color:#666;
}
.jq_panel_result_false{
	color:#be4746;
}
.jq_panel_result_true{
	color:#6d9f2c;
}			
.jq_panel_table_header_points_result{
	font-size:10px;
}
.jq_results_panel_table tbody td{
	border-top:1px solid #e5e8e9 !important;
}
.jq_results_panel_table tbody td{
	box-shadow: inset 0px 2px 0px -1px rgba(0,0,0,0),
						inset 0px -1.5px 0px 0px rgba(0,0,0,0);
}
.jq_results_panel_table tbody tr:hover td{
	background-color:#e2ecd5;
	box-shadow: inset 0px 2px 0px -1px #fff,
					inset 0px -1.5px 0px 0px #fff;
}
.jq_panel_table_link{
	color:#6d9f2c;
	text-decoration:none;
}
.jq_panel_table_number{
	color:#ff9900;
}
/*----------------culculus quize statistics----------------------*/		
.jq_calculus_statistic{
	font-size:13px;
}
.jq_calculus_statistic_header{
	font-size:13px;
	color:#333;
	font-weight:normal;	
	border-bottom: 1px solid #e5e8e9;
}
.jq_calculus_statistic_custom_caption{
	color:#77a53a;
	font-weight:bold;
}
.jq_calculus_statistic_custom_caption b{
	color:#ff9900;
	font-weight:bold;
}
.jq_calculus_statistic_custom td{
	border-top:1px solid #e5e8e9;
}
td.jq_calculus_custom_empty_cell{
	border-top:none;
}
.jq_calculus_statistic_custom_head th{
	color:#666;
	font-weight:bold;
	font-size:10px;
}
		
/*----------------- popup ---------------*/	
.jq_time_tick_container_popup{
	font-size:13px;
}	
.jq_time_tick_container_popup .dc_time,
.jq_time_tick_container_popup .q_time-separator{
	font-weight:bold;
}
.jq_points_container_popup{
	color:#666;
	font-size:13px;
}
.jq_close_popup{
	margin-left:25px;
}

.error_messagebox_quest{
	display: none;
	padding: 3em;
	border-radius:6px;
	margin-bottom: 20px;
	background:#f3dede url(../images/result_panel_false.png) 17px center no-repeat;
}

#dd_table,			
#dd_table tr, td
{
	border:none !important;
}

.cover{
	position:relative;
	float:left;
}

.dc_image {
    display: block;
    float: left;
    left: 0px;
    position: absolute;
    top: 0px;
	z-index:0;
}

.dc_button
{
	border:1px solid #cccccc;
	background:#eeeeff;
	width:100%;
	margin-bottom:7px;
	border-radius:3px 3px 3px 3px;
	min-height:40px;
	display:block;
	float:left;
}

.dc_button:hover
{
	background:#7BA428;
	color:#fff;
}

.dc_clear
{
	clear:both;
}

.square
{
	display:block;
	float:left;
	border:1px solid #cccccc;
	background:#eeeeee;
	position:relative;
	z-index:100;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
.lt-ie8 .square {
	behavior:url(/components/com_joomlaquiz/boxsizing.php);
}
.dc_buttons_container {
    margin-left: 10px;
}

.dc_buttons_container table
{
	width:100%;
}

.pause
{
	left: 170px;
    position: absolute;
    top: 100px;
	z-index:100;
}

.square {border-style:solid;} /* IE6-IE7*/
html>/**/body .square {border-style:dotted;} /*all normal browsers*/

.dc_time
{
	margin-top:10px;
	clear:both;
}

.jq_quest_time_title
{
	display:block;
	float:right;
}

.jq_quest_time_past
{
	margin-left:25px;
	margin-bottom:10px;
}

.sortHelper
{
	border: 1px dashed #7BA428;
    margin-bottom: 5px;
}

#memory_tbl, #memory_tbl tr, td
{
	border:none !important;
}

#memory_tbl {
	border-collapse:separate !important;
}

.jq_feedback_question_content_inner, .jq_feedback_question_content_inner tr, td
{
	border:none !important;
}

.jq_mchoice_overal, .jq_mchoice_overal tr, td
{
	border:none !important;
	margin-top: 20px;
}

.dc_layout {
	display:table;
	table-layout:fixed;
}
.dc_layout .dc_cover_container,
.dc_layout .dc_buttons_container {
	display:table-cell;
	float:none;
	vertical-align:top;
}
.dc_layout .dc_image {
	float:none;
}
.dc_layout .dc_buttons_container {
	min-width:120px;
}
.dc_pda_ver {
	display:block;
}
.dc_pda_ver .dc_cover_container,
.dc_pda_ver .dc_buttons_container {
	display:block;
	width:100%;
	text-align:center;
}
.dc_pda_ver .cover {
	float:none;
	margin:auto;
}
.dc_buttons_container .jq_input_pos {
	padding: 5px 10px;
}
.jq_survey
{
	width:100%;
}

.jq_quiz_result_container
{
	padding:1px;
}

#error_messagebox
{
	margin:10px;
}

#img_hotspot
{
	margin-top:10px;
}

.jq_flagged_question{
    display:none;
    float:left;
    margin:15px 10px;
}

#jq_share ul li{
	list-style: none outside none;
	display: inline-block;
	margin:4px;
}

#jq_share ul li div{
	width: 32px;
	height: 32px;
	background:url(../images/icons.png);
	cursor: pointer;
}

.jq_twitter{
	background-position: -64px 0px !important;
}

.jq_facebook{
	background-position: 0px 0px !important;
}

.jq_linkedin{
	background-position: -32px 0px !important;
}