/* General
-------------------------*/
body {
  position: relative;
  background: #f8f8f8;
}
#jq-installer {
  background: #fff;
  padding: 0 20px;
  margin: 10px 0;
  box-shadow: 1px 1px 5px rgba(81, 81, 81, 0.1);
  border: 1px solid #ddd;
}
#jq-installer .jq-header {
  padding: 10px 20px;
  margin: 0 -19px 0 -19px;
  border-bottom: 1px solid #ddd;
  background: #ffffff;
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-8 */

  box-shadow: inset 0 -1px 1px #ffffff;
}
#jq-installer .jq-header h1 {
  text-indent: 140px;
  margin: 0 auto;
  background: url(../img/quiz.png) no-repeat 0 0;
  height: 108px;
  line-height: 108px;
  width: 100%;
}
#jq-installer .nav-tabs {
  margin-bottom: 0;
  margin-right: -1px;
  padding: 32px 0;
}
#jq-installer .tab-content {
  padding: 30px;
  border-left: 1px solid #DDD;
}
#jq-installer .tab-content .jq-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#jq-installer .tab-content .jq-title h2 {
  font-size: 22px;
  margin: 0;
}
#jq-installer .tab-content .jq-title .pull-right {
  margin-top: 4px;
}
#jq-installer .tab-content h3 {
  font-size: 18px;
  margin-top: 0;
}
#jq-installer .tab-content .well {
  margin-top: 15px;
  margin-bottom: 0;
}
#jq-installer .tab-content .well.js-done h3 {
  color: #B94A48;
  line-height: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
#jq-installer .tab-content .tabular-data {
  background: #fff;
  padding: 10px;
  margin-top: 15px;
  display: block;
}
#jq-installer .tab-content .tabular-data .table {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
#jq-installer .tab-content .tabular-data .table td.right {
  text-align: right;
}
#jq-installer .tab-content .tabular-data.loosemargin {
  margin: 0;
}
#jq-installer .tab-content .alert-success,
#jq-installer .tab-content .alert-error {
  margin-top: 20px;
}
#jq-installer .last {
  margin-bottom: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.radio.btn-group input[type="radio"] {
    display: none;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
}
.controls{
	margin-left: 160px;
}
.control-label {
	float: left;
	padding-top: 5px !important;
    padding-right: 5px;
    text-align: left;
    width: auto;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 5px;
}
.radio.btn-group > label:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.jq_tooltip{
	width:160px;
	color:#999;
}

.control-group{
	margin-top:5px;
}

.logo h1 .tr {
    background: url("../img/main_logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 53px;
    text-indent: -666em;
	margin-left: 745px;
}