
/**OLD TOOLBAR IMAGES**/
div.toolbar-list span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

.icon-32-export {
    background-image: url("../images/icon-32-export.png");
}

.icon-32-upload {
    background-image: url("../images/icon-32-upload.png");
}

.icon-32-delete {
    background-image: url("../images/icon-32-delete.png");}
	
.controls label
{
	display:inline-block;
}

.tab-page .hasTip
{
float:right;
}

.jlms_filters select, .jlms_filters input[type="text"] {
	margin-bottom: 0px;
}

.jlms_filters select {
	width:288px !important;
}
.jlms_filters input[type="text"] {
	width:99%;
}

/* Joomla 3.0 CSS fixes: */
.lms_config_content .adminlist
{
	border-spacing: 0px !important;
}

.mailbox-radio .radiobtn{
    float:none !important;
}