
/**OLD TOOLBAR IMAGES**/
div.toolbar-list span {
    display: block;
    float: none;
    height: 32px;
    margin: 0 auto;
    width: 32px;
}

.icon-32-export {
    background-image: url("../images/icon-32-export.png");
}

.icon-32-upload {
    background-image: url("../images/icon-32-upload.png");
}

.icon-32-delete {
    background-image: url("../images/icon-32-delete.png");}
	
.controls label
{
	display:inline-block;
}

/*
.controls
{
	float:left;
}
*/

.tab-page .hasTip
{
float:right;
}


/* Joomla 3.0 CSS fixes: */
.jlms_filters input[type="text"] {
	width:185px !important;
}

.jlms_filters input.simple_calendar_field {
	width:65px !important;
}

.jlms_joomla30_users_filter_searchbox
{
	float:left !important;
}
.jlms_joomla30_users_main_content table td
{
	border:none!important;
}
.jlms_joomla30_users_main_content table th
{
	border-top:none!important;
	border-bottom: 1px solid #DDDDDD;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
	font-size: 19.5px;
}
.jlms_joomla30_users_main_content colgroup col
{
	min-width:250px;
}

.jlms_joomla30_users_main_content table tr td fieldset legend
{
	padding-top:5px;
}

.jlms_joomla30_users_main_content  #status {
	background: none !important;
	box-shadow: none !important;
	color:#555555;
}
.jlms_joomla30_saveorder
{
	background-image: url("../images/filesave.png");
	display: block;
    height: 16px;
    width: 16px;
}
.order input[type="text"] 
{
	width:80px !important;
}

.dynamic-tab-pane-control .tab-row .tab.selected span {
    font-size: 13px;
    /*font-weight: bold;*/
}

/*MENU TEST INTEGRATE*/

.tab-row {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.tab-row > span > a {
	display: block;
}
.tab-row > span > a:hover {
	text-decoration: none;
	background-color: #eee;
}
.tab-row > .pull-right {
	float: right;
}
.tab-row-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-transform: uppercase;
}
.tab-row span + .tab-row-header {
	margin-top: 9px;
}
.tab-row-list {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
}
.tab-row-list > span > a,
.tab-row-list .tab-row-header {
	margin-left: -15px;
	margin-right: -15px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.tab-row-list > span > a {
	padding: 3px 15px;
}
.tab-row-list > .selected > a,
.tab-row-list > .selected > a:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #08c;
}
.tab-row-list [class^="icon-"] {
	margin-right: 2px;
}
.tab-row-list .divider {
	*width: 100%;
	height: 1px;
	margin: 8px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
}
.tab-row,
.tab-row-pills {
	*zoom: 1;
}
.tab-row:before,
.tab-row:after,
.tab-row-pills:before,
.tab-row-pills:after {
	display: table;
	content: "";
	line-height: 0;
}
.tab-row:after,
.tab-row-pills:after {
	clear: both;
}
.tab-row > span,
.tab-row-pills > span {
	float: left;
}
.tab-row > span > a,
.tab-row-pills > span > a {
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
}
.tab-row {
	border-bottom: 1px solid #ddd;
}
.tab-row > span {
	margin-bottom: -1px;
}
.tab-row > span > a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.tab-row > span > a:hover {
	border-color: #eee #eee #ddd;
}
.tab-row > .selected > a,
.tab-row > .selected > a:hover {
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}
.tab-row-pills > span > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tab-row-pills > .selected > a,
.tab-row-pills > .selected > a:hover {
	color: #fff;
	background-color: #08c;
}
.tab-row-stacked > span {
	float: none;
}
.tab-row-stacked > span > a {
	margin-right: 0;
}
.tab-row.tab-row-stacked {
	border-bottom: 0;
}
.tab-row.tab-row-stacked > span > a {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.tab-row.tab-row-stacked > span:first-child > a {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}
.tab-row.tab-row-stacked > span:last-child > a {
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.tab-row.tab-row-stacked > span > a:hover {
	border-color: #ddd;
	z-index: 2;
}
.tab-row-pills.tab-row-stacked > span > a {
	margin-bottom: 3px;
}
.tab-row-pills.tab-row-stacked > span:last-child > a {
	margin-bottom: 1px;
}
.tab-row .dropdown-menu {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.tab-row-pills .dropdown-menu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.tab-row .dropdown-toggle .caret {
	border-top-color: #08c;
	border-bottom-color: #08c;
	margin-top: 6px;
}
.tab-row .dropdown-toggle:hover .caret {
	border-top-color: #005580;
	border-bottom-color: #005580;
}
.tab-row .dropdown-toggle .caret {
	margin-top: 8px;
}
.tab-row .selected .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.tab-row .selected .dropdown-toggle .caret {
	border-top-color: #555;
	border-bottom-color: #555;
}
.tab-row > .dropdown.selected > a:hover {
	cursor: pointer;
}
.tab-row .open .dropdown-toggle,
.tab-row-pills .open .dropdown-toggle,
.tab-row > span.dropdown.open.selected > a:hover {
	color: #fff;
	background-color: #999;
	border-color: #999;
}
.tab-row li.dropdown.open .caret,
.tab-row li.dropdown.open.selected .caret,
.tab-row li.dropdown.open a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
}

.jlms_joomla30_witoht_top_buttom  td
{ border-top:none!important; }

.calendar tbody td.selected, .calendar tbody td.hilite {
    border: none !important;
	/*padding:0 !important;*/
}

.jlms_order {
	text-align: center !important;
}


table [class*="span"] {
	float: left !important;
}

#style-form {
	margin-top: 10px;
}


/*CONFIG STYLES*/
.jlms_joomla30_config_main_content .table select, 
.jlms_joomla30_config_main_content .table textarea, 
.jlms_joomla30_config_main_content .table  input[type="text"],
.jlms_joomla30_config_main_content .table  input[type="password"], 
.jlms_joomla30_config_main_content .table  input[type="datetime"],
.jlms_joomla30_config_main_content .table  input[type="datetime-local"], 
.jlms_joomla30_config_main_content .table input[type="date"], 
.jlms_joomla30_config_main_content .table input[type="month"], 
.jlms_joomla30_config_main_content .table input[type="time"], 
.jlms_joomla30_config_main_content .table input[type="week"], 
.jlms_joomla30_config_main_content .table input[type="number"], 
.jlms_joomla30_config_main_content .table input[type="email"], 
.jlms_joomla30_config_main_content .table input[type="url"], 
.jlms_joomla30_config_main_content .table input[type="search"], 
.jlms_joomla30_config_main_content .table input[type="tel"], 
.jlms_joomla30_config_main_content .table input[type="color"]
{
	margin-bottom: 1px !important;
}	
.jlms_joomla30_config_main_content .table  legend
{
	padding-top: 0px !important;
}
.jlms_joomla30_config_gb_cat{
	margin-bottom:0px !important;
}
.jlms_joomla30_config_gb_cat_headers thead th, .jlms_joomla30_config_attend_periods_tbl thead th
{
	font-size: 12px !important;
}
.jlms_joomla30_config_attend_page input[type="checkbox"] 
{
	margin: 2px;
}

.jlms_joomla30_config_attend_periods
{
	margin-top: 7px;
}
.jlms_joomla30_config_attend_periods .chzn-container
{
	width:auto !important;
	float:left !important;
	margin-right:3px;
}
.jlms_joomla30_config_attend_periods .chzn-search
{
display:none !important;
}

.jlms_joomla30_config_attend_periods th
{
	font-weight:normal !important;
}

.jlms_joomla30_config_quiz_tbl input[type="text"] 
{
	width:30px;
}
.jlms_joomla30_config_main_content .hasTip
{
	float:none!important;
	cursor:help;
}

.jlms_config_info_table
{
	margin-bottom:2px;
}
.jlms_config_info_table td
{
	padding:2px;
}

.paramlist_key {
	width: 10%;	
}
.paramlist_value div {
	margin-left: 0 !important;
}

.paramlist tr td{
	padding-bottom: 18px;
}

#user .userinfo {
    clear: both;
    cursor: default !important;
    display: block;
    margin: 3px;
    /*padding: 3px;*/
    text-align: left;
}

#user .userinfo a {
	float:right !important;
}

/*Add student*/
.jlms_joomla30_elems_in_one_line .radio
{
	float:left;
}
.jlms_joomla30_elems_in_one_line .input-append
{
	float:left;
}
.jlms_joomla30_elems_in_one_line .input-append
{
	margin-left:5px;
}
.jlms_joomla30_elems_in_one_line .input-append button
{
	width:25px;
	padding:4px 4px !important;
}
.jlms_joomla30_elems_in_one_line .input-append .text_area
{
	width:73px;
}

.enrol_time
{
	width:167px;
}
/**/

/*New\edit course*/
.jlms_joomla30_elems_in_one_line .text_area
{
	margin-left:5px;
}
.jlms_joomla30_elems_in_one_line .text_area
{
	width:73px;
}

.input-order {
	margin-bottom: 0px !important;
}
/**/

/*SMF forum integr edit*/
#forum_type_chzn, #parent_forum_chzn
{
	width: 280px !important;
}
/**/
.import_lang_file
{
	height:auto !important;
}

.jlms_joomla30_users_filter_searchbox {
	margin-right: 2px;
}

.jlms_level_limit
{
	width:62px !important;
}